<html data-ng-app="securityApp">
	<head>
		
		<script src="../../assets/js/angular.min.js"></script>
		<script src = "moduleSecurity.js"></script>
		<script src="controllerSecuritySearch.js"></script>
		<script src="../../shared/AppServices/serviceModClient.js"></script>
		<script src="controllerSecurityAdd.js"></script>
		<script src="controllerSecurityAddValidation.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="bootstrap.css" rel="stylesheet" />
		<link href="bootstrap-theme.css" rel="stylesheet" />
		
		<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
			form .ng-invalid.ng-dirty {background-color : lightpink;}
			form .ng-valid.ng-dirty {background-color : lightgreen;}
			span.summary.ng-invalid {color : red; font-weight : bold;}
			span.summary.ng-valid {color : green;}
			div .error {color : red; font-weight: bold;}
			body{
				padding-left:15px;
				padding-right:15px;
			}
		</style>
	</head>
	<body data-ng-controller="securitySearchController">
		
		<div>
			<ul data-ng-repeat="club in clubs | orderBy:clubName">
				<li>{{club.clubName}}</li>
			</ul>
		</div>
		
		<div>
			<!-- Example of how to use the securitySearchController in directives to get all the coordinators
			We won't need to use this.  We will actually filter the coordinators using a child controller.  -->
			<!-- 
			<table>
				<thead>
					<th><td>First Name</td><td>Last Name</td><td>Clubs</td><td>Email address</td></th>
				</thead>
				<tbody data-ng-repeat="coordinator in coordinators">
					<tr><td>{{coordinator.firstName}}</td><td>{{coordinator.lastName}}</td><td>{{coordinator.clubs}}</td><td>{{coordinator.emailAddress}}</td></tr>
				</tbody>
			</table> -->
			
			
			<!-- Example on how to filter the coordinators by club name and by firstName and by lastName -->
			<br />
			<br />
			<h1>Doing filtering</h1>
			Club Name:
			<select data-ng-model="select.clubName">
				<option data-ng-repeat="club in clubs | orderBy:clubName">{{club.clubName}}</option>
			</select>
			First Name:
			<input type="text" data-ng-model="search.firstName" />
			Last Name:
			<input type="text" data-ng-model="search.lastName" />
			<table data-ng-if="showResults()">
				<thead>
					<th><td>First Name</td><td>Last Name</td><td>Clubs</td><td>Email address</td></th>
				</thead>
				<tbody data-ng-repeat="coordinator in coordinators | filter:search">
					<tr>
						<td>{{coordinator.firstName}}
						</td>
						<td>{{coordinator.lastName}}
						</td>
						<td>{{coordinator.clubs}}
						</td>
						<td>{{coordinator.emailAddress}}
						</td>
					</tr>
				</tbody>
			</table>
			
			
		</div>

		<div id = "formPanel" data-ng-controller="securityAddController">
			<h1>Add user screen documentation</h1>
			<!-- The form to input the data -->
			<form data-ng-controller="securityAddValidationController" name="addCoordinatorForm" novalidate data-ng-submit="addNewCoordinatorClubAssociation(newCoordinator, clubs)">
				<div class="form-group row">
					<label >First Name:</label>
					<input name="firstName" type="text" class="form-control" required data-ng-model="newCoordinator.firstName">
				</div>
				<div class="form-group row">
					<label>Last Name:</label>
					<input name="lastName" type="text" class = "form-control" required data-ng-model="newCoordinator.lastName">
				</div>
				<div class="form-group row">
					<label>Email Address:</label>
					<input name="emailAddress" type="email" class="form-control" required data-ng-model="newCoordinator.emailAddress">
					<div class="error" data-ng-show="addCoordinatorForm.emailAddress.$invalid && addCoordinatorForm.emailAddress.$dirty">
						<span data-ng-show="addCoordinatorForm.emailAddress.$error.email"> Please enter a valid email address</span>
						<span data-ng-show="addCoordinatorForm.emailAddress.$error.required">Please enter a value</span>
					</div>
				</div>
				<div class="form-group row">
					<label>Phone number:</label>
					<input name="areaNumber" type="text" class="form-control" required data-ng-model="newCoordinator.areaNumber" data-ng-pattern="areaNumberPattern">
					<input name="exchangeNumber" type="text" class="form-control" required data-ng-model="newCoordinator.exchangeNumber" data-ng-pattern="exchangeNumberPattern">
					<input name="suffixNumber" type="text" class="form-control" required data-ng-model="newCoordinator.suffixNumber" data-ng-pattern="suffixNumberPattern">
					<div class="error" ng-show="(addCoordinatorForm.areaNumber.$invalid && addCoordinatorForm.areaNumber.$dirty) ||
						(addCoordinatorForm.exchangeNumber.$invalid && addCoordinatorForm.exchangeNumber.$dirty) ||
						(addCoordinatorForm.suffixNumber.$invalid && addCoordinatorForm.exchangeNumber.$dirty)">
						<span ng-show="addCoordinatorForm.areaNumber.$error.pattern || addCoordinatorForm.exchangeNumber.$error.pattern
						|| addCoordinatorForm.suffixNumber.$error.pattern"> Please enter a valid number</span>
						
					</div>
				</div>

				<div class="form-group">
					<label>Phone Type</label>
					<select data-ng-model="newCoordinator.phoneType" required data-ng-options="phoneType.typeCode as phoneType.description for phoneType in phoneTypes">
					</select>
					<div class="form-group">
						<label>Title</label>
						<input name="title" type="text" class="form-control" data-ng-model="newCoordinator.titleName">
					</div>

					
					Roles:
					<div class="securityRoles" data-ng-repeat="club in clubs">

						<div class="clubRole" data-ng-if="club.checked">
							{{club.clubName}}: 
							<div class="rolerepeat" data-ng-repeat="role in securityGroups">
							<input type="radio" class="clubRole" data-ng-model="club.role" data-ng-value="role.securityGroupCode"> {{role.description}}

					<div class="form-group">
						<label>Clubs</label>
						<div class="checkboxes" data-ng-repeat="club in clubs">
							{{club.clubName}}: <input type="checkbox" data-ng-model="club.checked">
						</div>
						Roles:
						<div class="securityRoles" data-ng-repeat="club in clubs">
							<div class="clubRole" data-ng-if="club.checked">
								{{club.clubName}}:
								<div class="rolerepeat" data-ng-repeat="role in securityGroups">
									<input type="radio" class="clubRole" data-ng-model="club.role" data-ng-value="role.securityGroupCode"> {{role.description}}
								</div>
							</div>
						</div>
						
					</div>
					<button type="submit" class="btn btn-primary btn-block" data-ng-disabled="addCoordinatorForm.$invalid">Add</button>
				</form>
			</div>
		</div>
	</body>
</html>