<div>
	<div class="alerts alert-danger">
	<alert ng-show="showNotifications" ng-repeat="notification in notifications" type="{{notification.type}}" close>{{notification.message}}</alert>
</div>
<div>
	<ul data-ng-repeat="club in expandedClubs | orderBy:clubName">
		<li>{{club.clubName}}</li>
	</ul>
</div>


<div>
	<br />
	<br />
	<h1>Doing filtering</h1>
	Club Name:
	<select data-ng-model="search.clubs" required data-ng-options="club.clubId as club.clubName for club in expandedClubs">
	</select>
	First Name:
	<input type="text" data-ng-model="search.firstName" />
	Last Name:
	<input type="text" data-ng-model="search.lastName" />
	<table data-ng-if="showResults()">
		<thead>
			<th><td>First Name</td><td>Last Name</td><td>Clubs</td><td>Email address</td><td>Edit</td><td>Delete</td></th>
		</thead>
		<tbody data-ng-repeat="coordinator in coordinators | filter:search">
			<tr>
				<td>{{coordinator.firstName}}
				</td>
				<td>{{coordinator.lastName}}
				</td>
				<td>{{coordinator.clubs}}
				</td>
				<td>{{coordinator.emailAddress}}
				</td>
				<td><a href="/edit/{{coordinator.id}}">Edit</a>
			</td>
			<td><a href="/delete/{{coordinator.id}}">Delete</a>
		</td>
	</tr>
</tbody>
</table>
<div>
<button ng-click="addCoordinator()">
Add new
</button>
</div>
</div>
</div>
			<select data-ng-model="search.clubs" required data-ng-options="club.clubId as club.clubName for club in expandedClubs">
			</select>
			First Name:
			<input type="text" data-ng-model="search.firstName" />
			Last Name:
			<input type="text" data-ng-model="search.lastName" />
			<table data-ng-if="showResults()">
				<thead>
					<th>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Clubs</td>
                        <td>Email address</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </th>
				</thead>
				<tbody data-ng-repeat="coordinator in coordinators | filter:search">
					<tr>
						<td>{{coordinator.firstName}}
						</td>
						<td>{{coordinator.lastName}}
						</td>
						<td>{{coordinator.clubs}}
						</td>
						<td>{{coordinator.emailAddress}}
						</td>
						<td><a href="/edit/{{coordinator.id}}">Edit</a>
						</td>
						<td><a ng-click="deleteCoordinator(coordinator.id)">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<button ng-click="addCoordinator()">
					Add new
				</button>
			</div>
	
        <div ng-show="showDelete">
            <p>Are you sure that you want to delete the coordinator?</p>

            <button ng-click="delete()">Yes</button>
            <button ng-click="notdelete()">No</button>
        </div>

  
