<html data-ng-app="securityApp">
	<head>
		<script src="../../assets/js/angular.min.js"></script>
		<script src = "moduleSecurity.js"></script>
		<script src="../../shared/AppServices/serviceModClient.js"></script>
		<script src="controllerSecurityAdd.js"></script>
		<script src="controllerSecurityAddValidation.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="bootstrap.css" rel="stylesheet" />
		<link href="bootstrap-theme.css" rel="stylesheet" />
		
		<style>
			form .ng-invalid.ng-dirty {background-color : lightpink;}
			form .ng-valid.ng-dirty {background-color : lightgreen;}
			span.summary.ng-invalid {color : red; font-weight : bold;}
			span.summary.ng-valid {color : green;}
			div .error {color : red; font-weight: bold;}
			body{
				padding-left:15px;
				padding-right:15px;
			}
		</style>
	</head>
	<body data-ng-controller="securityAddController">
		
		<div id = "formPanel" data-ng-controller="securityAddController">
			<h1>Add user screen documentation</h1>
			<!-- The form to input the data -->
			<form data-ng-controller="securityAddValidationController" name="addCoordinatorForm" novalidate data-ng-submit="addNewCoordinatorClubAssociation(newCoordinator, clubs)">
				<div class="form-group row">
					<label >First Name:</label>
					<input name="firstName" type="text" class="form-control" required data-ng-model="newCoordinator.firstName">
				</div>
				<div class="form-group row">
					<label>Last Name:</label>
					<input name="lastName" type="text" class = "form-control" required data-ng-model="newCoordinator.lastName">
				</div>
				<div class="form-group row">
					<label>Email Address:</label>
					<input name="emailAddress" type="email" class="form-control" required data-ng-model="newCoordinator.emailAddress">
					<div class="error" data-ng-show="addCoordinatorForm.emailAddress.$invalid && addCoordinatorForm.emailAddress.$dirty">
						<span data-ng-show="addCoordinatorForm.emailAddress.$error.email"> Please enter a valid email address</span>
						<span data-ng-show="addCoordinatorForm.emailAddress.$error.required">Please enter a value</span>
					</div>
				</div>
				<div class="form-group row">
					<label>Phone number:</label>
					<input name="areaNumber" type="text" class="form-control" required data-ng-model="newCoordinator.areaNumber" data-ng-pattern="areaNumberPattern">
					<input name="exchangeNumber" type="text" class="form-control" required data-ng-model="newCoordinator.exchangeNumber" data-ng-pattern="exchangeNumberPattern">
					<input name="suffixNumber" type="text" class="form-control" required data-ng-model="newCoordinator.suffixNumber" data-ng-pattern="suffixNumberPattern">
					<div class="error" ng-show="(addCoordinatorForm.areaNumber.$invalid && addCoordinatorForm.areaNumber.$dirty) ||
						(addCoordinatorForm.exchangeNumber.$invalid && addCoordinatorForm.exchangeNumber.$dirty) ||
						(addCoordinatorForm.suffixNumber.$invalid && addCoordinatorForm.exchangeNumber.$dirty)">
						<span ng-show="addCoordinatorForm.areaNumber.$error.pattern || addCoordinatorForm.exchangeNumber.$error.pattern
						|| addCoordinatorForm.suffixNumber.$error.pattern"> Please enter a valid number</span>
						
					</div>
				</div>
				<div class="form-group">
					<label>Phone Type</label>
					<select data-ng-model="newCoordinator.phoneType" required data-ng-options="phoneType.typeCode as phoneType.description for phoneType in phoneTypes">
					</select>
					<div class="form-group">
						<label>Title</label>
						<input name="title" type="text" class="form-control" data-ng-model="newCoordinator.titleName">
					</div>

				</div>

				<div class="form-group">
					<label>Clubs</label>
					<div class="checkboxes" data-ng-repeat="club in clubs">
						{{club.clubName}}: <input type="checkbox" data-ng-model="club.checked">
						<div class="clubRole" data-ng-if="club.checked">
							<div data-ng-repeat="role in securityGroups">
							<input type="radio" class="clubRole" data-ng-model="club.role" data-ng-value="role.securityGroupCode"> {{role.description}}
							</div>
						</div>

					</div>
				</div>

				<button type="submit" class="btn btn-primary btn-block" data-ng-disabled="addCoordinatorForm.$invalid">Add</button>
				</form>
			</div>
		</div>
	</body>
</html>