

		<div id = "formPanel">
			<h1>{{viewHeading}}</h1>
            
            <!-- Validation message here. -->
            <alert ng-show="showValidation" close type="danger">The form contains errors.</alert> 
            <alert ng-show="showAddError" close type="danger">{{addErrorMessage}}</alert>				

            <!-- The FORM goes HERE -->
			<form data-ng-controller="controllerValidation" name="addCoordinatorForm" novalidate data-ng-submit="submitForm()">
				<div class="form-group row">
					<label >First Name:</label>
					<input name="firstName" type="text" class="form-control" required data-ng-model="newCoordinator.firstName">
                    <div class="error" data-ng-show="addCoordinatorForm.firstName.$invalid && addCoordinatorForm.firstName.$dirty">
                        <span data-ng-show="addCoordinatorForm.firstName.$error.required">Please enter the first name</span>
                    </div>
				</div>
				<div class="form-group row">
					<label>Last Name:</label>
					<input name="lastName" type="text" class = "form-control" required data-ng-model="newCoordinator.lastName">
                    <div class="error" data-ng-show="addCoordinatorForm.lastName.$invalid && addCoordinatorForm.lastName.$dirty">
                        <span data-ng-show="addCoordinatorForm.lastName.$error.required">Please enter the last name</span>
                    </div>
				</div>
				<div class="form-group row">
					<label>Email Address:</label>
					<input name="emailAddress" type="email" class="form-control" required data-ng-model="newCoordinator.emailAddress">
					<div class="error" data-ng-show="addCoordinatorForm.emailAddress.$invalid && addCoordinatorForm.emailAddress.$dirty">
						<span data-ng-show="addCoordinatorForm.emailAddress.$error.email"> Please enter a valid email address</span>
						<span data-ng-show="addCoordinatorForm.emailAddress.$error.required">Please enter a value</span>
					</div>
				</div>
				<div class="form-group row">
					<label>Phone number:</label>
					<input name="areaNumber" type="text" class="form-control" required data-ng-model="newCoordinator.areaNumber" data-ng-pattern="areaNumberPattern">
					<input name="exchangeNumber" type="text" class="form-control" required data-ng-model="newCoordinator.exchangeNumber" data-ng-pattern="exchangeNumberPattern">
					<input name="suffixNumber" type="text" class="form-control" required data-ng-model="newCoordinator.suffixNumber" data-ng-pattern="suffixNumberPattern">
					<div class="error" ng-show="(addCoordinatorForm.areaNumber.$invalid && addCoordinatorForm.areaNumber.$dirty) ||
						(addCoordinatorForm.exchangeNumber.$invalid && addCoordinatorForm.exchangeNumber.$dirty) ||
						(addCoordinatorForm.suffixNumber.$invalid && addCoordinatorForm.exchangeNumber.$dirty)">
						<span ng-show="addCoordinatorForm.areaNumber.$error.pattern || addCoordinatorForm.exchangeNumber.$error.pattern
						|| addCoordinatorForm.suffixNumber.$error.pattern"> Please enter a valid number</span>
						
					</div>
				</div>
				<div class="form-group">
					<label>Phone Type</label>
					<select name="phoneType" data-ng-model="newCoordinator.phoneType" required data-ng-options="phoneType.typeCode as phoneType.description for phoneType in phoneTypes">
					</select>
                    <div class="error" ng-show="addCoordinatorForm.phoneType.$error.required">Please, select a phone type.</div>
				</div>
                <div class="form-group">
                    <label>Title</label>
                    <input name="title" type="text" class="form-control" data-ng-model="newCoordinator.titleName">
                </div>

				<div class="form-group">
					<label>Clubs</label>
					<div class="checkboxes" data-ng-repeat="club in coordinatorClubs">
						{{club.clubName}}: <input type="checkbox" data-ng-model="club.checked">
						<div class="clubRole" data-ng-if="club.checked">
							<div data-ng-repeat="role in securityGroups">
                                <input type="radio" class="clubRole" data-ng-model="club.role" data-ng-value="role.securityGroupCode" ng-init="club.role=securityGroups[0].securityGroupCode"> {{role.description}}
							</div>
						</div>
                    </div>
                    
				</div>

				<button type="submit" ng-disabled="addCoordinatorForm.$invalid" class="btn btn-primary btn-block">{{submitButtonText}}</button>
				
			</form>

            <!-- The CLOSE button here -->
            <button class="btn" data-ng-click="close()">Close</button>
				

		</div>
