<!DOCTYPE html>
<html ng-app="securityApp" ng-cloak>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Security Administration</title>
		
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../../assets/css/style.css">
		<link rel="stylesheet" href="../../assets/css/ipad.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body ng-controller="securitySearchController" >
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../../assets/images/brand-top.jpg" alt="">
					<h1>Member Offers Database / </h1>					<h1>Block &amp; Merchant</h1>
					
				</div>
				<div id="navbar">
					
					<ul class="nav navbar-nav navbar-right">
						
						<li><a>Menu <i class="fa fa-chevron-down"></i></a>
						<ul class="btn-group-vertical" role="group" aria-label="...">
							<li type="button" class="btn btn-default">Search / Add New Offers</li>
							<li type="button" class="btn btn-default">Reports</li>
							<li type="button" class="btn btn-default">What's New</li>
							<li type="button" class="btn btn-default">Unmatched Merchants</li>
							<li type="button" class="btn btn-default active">Block Merchants</li>
							<li type="button" class="btn btn-default">User / Training Manual</li>
							<li type="button" class="btn btn-default">Mergers / Tables / Refresh</li>
							<li type="button" class="btn btn-default">Security Administration</li>
							<li type="button" class="btn btn-default">Sign Out</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav float-right">
					<div class="blocks">
						<li class="info">robert@national.aaa.com for club 999</li>
						<li class="info">AAA National (National Office Approver)</li>
					</div>
					
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<!-- End NAV -->
	<!-- Start Page Container -->
	<div class="container push-down ipad-padding">
		
		<div class="page-center">
			
			<div role="tabpanel">
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li role="presentation"  class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Blocked</a></li>
					<li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Block Merchant</a></li>
					
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="profile">
						<table class="table table-hover tablesorder text-center">
							<thead>
								<tr>
									<th>Merch Name</th>
									<th>Location Name</th>
									<th>Blocked Club</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Robert</td>
									<td>Khayat</td>
									<td>123</td>
									
									
									<td><button type="button" class="btn btn-link btn-md"><i class="fa fa-unlock"></i></button></td>
									
								</tr>
								
								<tr>
									<td>Robert</td>
									<td>Khayat</td>
									<td>123</td>
									
									<td><button type="button" class="btn btn-link btn-md"><i class="fa fa-unlock"></i></button></td>
									
								</tr>
								<tr>
									<td>Robert</td>
									<td>Khayat</td>
									<td>123</td>
									
									<td><button type="button" class="btn btn-link btn-md"><i class="fa fa-unlock"></i></button></td>
									
								</tr>
								<tr>
									<td>Robert</td>
									<td>Khayat</td>
									<td>123</td>
									
									<td><button type="button" class="btn btn-link btn-md"><i class="fa fa-unlock"></i></button></td>
									
								</tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="home">
						<div class="form-group">
							<p class="req">Club:</p>
							<select ng-model="select.clubName" class="form-control">
								<option ng-repeat="club in clubs | orderBy:clubName">{{club.clubName}}</option>
								
							</select>
						</div>
						<div class="form-group">
							<p class="req">Merchant Name:</p>
							<select ng-model="select.clubName" class="form-control">
								
								
							</select>
						</div>
					<div class="form-group">
							<p class="req">Merchant Name:</p>
							<select ng-model="select.clubName" class="form-control">
								
								
							</select>
						</div>
						<hr>
						<div class="form-group text-center flex-group">
							<button type="button" class="btn btn-custom-secondary btn-lg">Back</button>
							<button type="button" class="btn btn-custom-secondary btn-lg">Reset</button>
							<button type="button" class="btn btn-custom-primary btn-lg">Block</button>
						</div>
						
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Container -->
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- Bootstrap JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="../../assets/js/topmenu.js"></script>
	<!--
	<script src="../../assets/js/angular.min.js"></script> -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src = "moduleSecurity.js"></script>
	<!-- // <script src="controllerSecurityAdd.js"></script> -->
	<script src="controllerSecuritySearch.js"></script>
	<script src="../../shared/AppServices/serviceModClient.js"></script>
</body>
</html>