<!-- NAV Start -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<img src="../../assets/images/brand-top.jpg" alt="">
			<h1>Member Offers Database / </h1>
			<h1>{{viewTitle}}</h1>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav navbar-right">
				
				<li>Menu <i class="fa fa-chevron-down"></i>
					<ul class="btn-group-vertical" role="group" aria-label="...">
						<a href=""><li type="button" class="btn btn-default">Search / Add New Offers</li></a>
						<a href=""><li type="button" class="btn btn-default">Reports</li></a>
						<a href=""><li type="button" class="btn btn-default">What's New</li></a>
						<a href=""><li type="button" class="btn btn-default">Unmatched Merchants</li></a>
						<a href=""><li type="button" class="btn btn-default">Block Merchants</li></a>
						<a href=""><li type="button" class="btn btn-default">User / Training Manual</li></a>
						<a href=""><li type="button" class="btn btn-default">Mergers / Tables / Refresh</li></a>
						<a ng-href="../AppSecurity/security.html"><li class="btn btn-default active">Security Administration</li></a>
						<a href=""><li type="button" class="btn btn-default">Sign Out</li></a>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav float-right">
				<div class="blocks">
					<li class="info">robert@national.aaa.com for club 999</li>
					<li class="info">AAA National (National Office Approver)</li>
				</div>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	<div ng-show="showAddError" class="alerts alert-danger" close type="danger"><h1>{{addErrorMessage}}</h1></div>
</nav>
<!-- End NAV -->
<!-- Start Page Container -->
<form data-ng-controller="controllerValidation" name="addCoordinatorForm" novalidate data-ng-submit="submitForm()">
	<div class="container search-modify-container">
		<div class="width-500 center-me">
			
			<form  data-ng-controller="controllerValidation" name="addCoordinatorForm" novalidate data-ng-submit="submitForm()">
				
				<div class="form-group">
					<p>First Name:</p>
					<input name="firstName" type="text" class="req form-control" required data-ng-model="newCoordinator.firstName">
					<div class="error" data-ng-show="addCoordinatorForm.firstName.$invalid && addCoordinatorForm.firstName.$dirty">
						<span data-ng-show="addCoordinatorForm.firstName.$error.required">Please enter the first name</span>
					</div>
				</div>
				<div class="form-group">
					<p>Last Name:</p>
					<input name="lastName" type="text" class = "req form-control" required data-ng-model="newCoordinator.lastName">
					<div class="error" data-ng-show="addCoordinatorForm.lastName.$invalid && addCoordinatorForm.lastName.$dirty">
						<span data-ng-show="addCoordinatorForm.lastName.$error.required">Please enter the last name</span>
					</div>
				</div>
				
				<div class="form-group">
					<p>Title</p>
					<input name="title" type="text" class="form-control" data-ng-model="newCoordinator.titleName">
				</div>
				<div class="col-xs-12 no-padding">
					<div id="phonerow"  class="col-xs-3">
						<!-- <div class="form-group">
									<p>Phone Types</p>
									<select name="phoneType" data-ng-model="newCoordinator.phoneType" required data-ng-options="phoneType.typeCode as phoneType.description for phoneType in phoneTypes" class="form-control">
											<div >
													test
														<div class="error" ng-show="addCoordinatorForm.phoneType.$error.required">Please, select a phone type.</div>
														
												</div>
									</select>
						</div> -->
						<div class="form-group validation-bottom-margin relative">
							<p>Phone Types</p>
							<select name="phoneType" class=" req form-control" data-ng-model="newCoordinator.phoneType" required data-ng-options="phoneType.typeCode as phoneType.description for phoneType in phoneTypes">
							</select>
							<div class="error absolute" ng-show="addCoordinatorForm.phoneType.$error.required">Required</div>
						</div>
					</div>
					<div class="form-group phone-number col-xs-9">
						<p>Phone</p>
						<div class="col-xs-3">
							<input type="text" name="areaNumber" class="req form-control" size="3" maxlength="3" required="required" placeholder="XXX" title="" required data-ng-model="newCoordinator.areaNumber" data-ng-pattern="areaNumberPattern">
						</div>
						
						<div class="col-xs-3">
							<input type="text" name="exchangeNumber" class="req form-control" size="3" maxlength="3" required="required" placeholder="XXX" title="" required data-ng-model="newCoordinator.exchangeNumber" data-ng-pattern="exchangeNumberPattern">
						</div>
						
						<div class="col-xs-4">
							<input type="text" name="suffixNumber" class="req form-control" size="4" maxlength="4" required="required" placeholder="XXXX" title="" required data-ng-model="newCoordinator.suffixNumber" data-ng-pattern="suffixNumberPattern">
						</div>
						<div class="error phone-error" ng-show="(addCoordinatorForm.areaNumber.$invalid && addCoordinatorForm.areaNumber.$dirty) ||
							(addCoordinatorForm.exchangeNumber.$invalid && addCoordinatorForm.exchangeNumber.$dirty) ||
							(addCoordinatorForm.suffixNumber.$invalid && addCoordinatorForm.exchangeNumber.$dirty)">
							<span ng-show="addCoordinatorForm.areaNumber.$error.pattern || addCoordinatorForm.exchangeNumber.$error.pattern
							|| addCoordinatorForm.suffixNumber.$error.pattern"> Please enter a valid number</span>
							
						</div>
					</div>
				</div>
				
				<!-- End Phone Number Form-Group -->
				<div class="form-group validation-bottom-margin">
					<p>Email</p>
					<input name="emailAddress" type="email" class="form-control req" required data-ng-model="newCoordinator.emailAddress">
					<div class="error" data-ng-show="addCoordinatorForm.emailAddress.$invalid && addCoordinatorForm.emailAddress.$dirty">
						<span data-ng-show="addCoordinatorForm.emailAddress.$error.email"> Please enter a valid email address</span>
						<span data-ng-show="addCoordinatorForm.emailAddress.$error.required">Please enter a value</span>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div ng-repeat="notification in notifications" class="checkbox">
						<label>
							<input type="checkbox" ng-model="notification.checked">
							{{notification.description}}
						</label>
					</div>
				</div>
				<hr>
			</form>
		</div>
		<div class="width-750 center-me">
			<label class="big center">Club Roles
			</label>
			<!--<div class="error text-center" data-ng-show="checkboxRequired(coordinatorClubs)">
					<span>Please Select One Club</span>
			</div>
			-->
			<div class="well text-center scrollable">
				<div class="form-group text-left">
					
					<div class="checkboxes well-club-child" data-ng-repeat="club in coordinatorClubs">
						
						<label>
							<input type="checkbox" data-ng-model="club.checked" > {{club.clubName}}:
						</label>
						<div class="inline-me">
							<div data-ng-if="club.checked" class="flex-group ">
								
								<div class="inline" data-ng-repeat="role in securityGroups">
									<label ng-if="viewTitle=='Add'"><h3 class="inline"><input type="radio" data-ng-model="club.role" data-ng-value="role.securityGroupCode" ng-init="club.role=securityGroups[0].securityGroupCode"> {{role.description}}</h3></label>
									<label ng-if="viewTitle=='Edit'"><h3 class="inline"><input type="radio" data-ng-model="club.role" data-ng-value="role.securityGroupCode" ng-init="club.role = club.role ? club.role : securityGroups[0].securityGroupCode"> {{role.description}}</h3></label>
								</div>
							</div>
						</div>
						
					</div>
					
					
				</div>
			</div>
			
			<div class="form-group text-center  flex-group">
				<button type="button" class="btn btn-custom-secondary btn-lg"  data-ng-click="close()">Close</button>
				<button type="submit" class="btn btn-custom-primary btn-lg"   data-ng-disabled="addCoordinatorForm.$invalid">{{submitButtonText}}</button>
				
			</div>
		</div>
		
	</form>
</div>