
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../../assets/images/brand-top.jpg" alt="">
					<h1>Member Offers Database / </h1>					<h1>Security Administration</h1>
					
				</div>
				<div id="navbar">
					
			<ul class="nav navbar-nav navbar-right">
				
				<li>Menu <i class="fa fa-chevron-down"></i>
					<ul class="btn-group-vertical" role="group" aria-label="...">
						<a href=""><li type="button" class="btn btn-default">Search / Add New Offers</li></a>
						<a href=""><li type="button" class="btn btn-default">Reports</li></a>
						<a href=""><li type="button" class="btn btn-default">What's New</li></a>
						<a href=""><li type="button" class="btn btn-default">Unmatched Merchants</li></a>
						<a href=""><li type="button" class="btn btn-default">Block Merchants</li></a>
						<a href=""><li type="button" class="btn btn-default">User / Training Manual</li></a>
						<a href=""><li type="button" class="btn btn-default">Mergers / Tables / Refresh</li></a>
						<a ng-href="security.html"><li class="btn btn-default active">Security Administration</li></a>
						<a href=""><li type="button" class="btn btn-default">Sign Out</li></a>
					</ul>
				</li>
			</ul>
				<ul class="nav navbar-nav float-right">
					<div class="blocks">
						<li class="info">robert@national.aaa.com for club 999</li>
						<li class="info">AAA National (National Office Approver)</li>
					</div>
					
				</ul>
			</div>
		</div>
	

		</nav>

 	<div ng-show="showNotifications" class="alerts alert-success" ng-repeat="notification in notifications" type="{{notification.type}}" close><h1>{{notification.message}}</h1></div>
<!-- End NAV -->
<!-- Start Page Container -->
<div class="container ipad-padding search-container">
	
	<div class="page-center">
		
		<p>Club:</p>
		<!-- <select ng-model="select.clubName" class="form-control">
									<option ng-repeat="club in clubs | orderBy:clubName">{{club.clubName}}</option>
									
		</select> -->
		
		<select class="req form-control form-group" data-ng-model="search.clubs" required data-ng-options="club.clubId as club.clubName for club in expandedClubs">
		</select>
		
		<div class="form-group">
			<p>First Name:</p>
			<input type="text" data-ng-model="search.firstName"  class="form-control" placeholder="First Name">
		</div>
		<div class="form-group">
			<p>Last Name:</p>
			<input type="text" data-ng-model="search.lastName" class="form-control" placeholder="Last Name">
		</div>
		<div class="form-group text-center">
			<!-- <button type="button" class="btn btn-custom-primary btn-lg">Search</button> -->
			<button type="button" class="btn btn-custom-primary btn-lg" ng-click="addCoordinator()">Add New</button>
		</div>
	</div>

	<div class="div-delete" ng-show="showDelete">
		<div class="inner modal-content">
			<h2>Are you sure you want to delete <strong>{{coordinatorToDeleteFirstName}} {{coordinatorToDeleteLastName}}? </strong> </h2>
			<button class="btn btn-danger btn-lg" ng-click="delete()">Yes</button>
			<button  class="btn btn-custom-secondary btn-lg" ng-click="notdelete()">No</button>
		</div>
	</div>
	
	<div class="form-group">
		
		
		<div class="row" ng-if="showResults()">

			<table class="table table-hover tablesorder text-center">
			<hr>
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Club Code</th>
						<th>Email Address</th>
						<th>Options</th>
					</tr>
				</thead>
				
				<tbody>
					<tr ng-repeat="coordinator in coordinators | filter:search">
						<td>{{coordinator.firstName}}
						</td>
						<td>{{coordinator.lastName}}
						</td>
						<td>{{coordinator.clubs}}
						</td>
						<td>{{coordinator.emailAddress}}
						</td>
						
						<td>
							<a ng-click="editCoordinator(coordinator.id)" type="button" class="btn btn-link btn-md"><i class="fa fa-pencil fa-2x btn-edit"></i></a>
							<a ng-click="deleteCoordinator(coordinator.id, coordinator.firstName, coordinator.lastName)" type="button" class="btn btn-link btn-md"><i class="fa fa-times fa-2x btn-delete"></i></a></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>