<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{viewTitle}}</title>
		
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/ipad.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../assets/images/brand-top.jpg" alt="">
					<h1>{{appTitle}}</h1>	
					<h1>/</h1>
					<h1>{{viewTitle}}</h1>
				</div>
				<div id="navbar">
					
					<ul class="nav navbar-nav navbar-right">
						
						<li><a>Menu <i class="fa fa-chevron-down"></i></a>
						<ul class="btn-group-vertical" role="group" aria-label="...">
							<li type="button" class="btn btn-default active">Search / Add New Offers</li>
							<li type="button" class="btn btn-default">Reports</li>
							<li type="button" class="btn btn-default">What's New</li>
							<li type="button" class="btn btn-default">Unmatched Merchants</li>
							<li type="button" class="btn btn-default">Block Merchants</li>
							<li type="button" class="btn btn-default">User / Training Manual</li>
							<li type="button" class="btn btn-default">Mergers / Tables / Refresh</li>
							<li type="button" class="btn btn-default">Security Administration</li>
							<li type="button" class="btn btn-default">Sign Out</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav float-right">
					<div class="blocks">
						<li class="info">robert@national.aaa.com for club 999</li>
						<li class="info">AAA National (National Office Approver)</li>
					</div>
					
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<!-- End NAV -->
	<!-- Start Page Container -->
	<div class="container  push-down">
		<div class="width-500 center-me">
			
			<div class="form-group">
				<p class="bold">Merchant Name:</p>
				<input type="text" class="form-control" placeholder="Merchant Name">
			</div>
			<div class="form-group">
				<p class="bold">Merchant ID:</p>
				<input type="text" class="form-control" placeholder="Merchant ID">
			</div>
			<p class="bold">Source:</p>
			<div class="form-group">
				<div class="radio">
					<label>
						<input type="radio" value="" name="optionsRadios" checked="">
						Automotive(AAR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="radio">
					<label>
						<input type="radio" value="" name="optionsRadios" checked="">
						Hotel (TDR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="radio">
					<label>
						<input type="radio" value="" name="optionsRadios" checked="">
						Attraction / Entertainment (AAR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="radio">
					<label>
						<input type="radio" value="" name="optionsRadios" checked="">
						Restaurant (TDR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="radio">
					<label>
						<input type="radio" value="" name="optionsRadios" checked="">
						Club Office (CR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="radio">
					<label>
						<input type="radio" value="" name="optionsRadios" checked="">
						Retail (MOD)
					</label>
				</div>
			</div>
			<div class="form-group">
				<p class="bold">Source ID:</p>
				<input type="text" class="form-control" placeholder="Source ID">
			</div>
			<div class="form-group text-center">
				<button type="button" class="btn btn-custom-primary btn-lg">Search</button>
				<button type="button" class="btn btn-custom-primary btn-lg">Clear</button>
			</div>
		</div>
		
		<!-- End Width-500 Container -->
	</div>
	<!-- End Page Container -->
	<!-- jQuery -->
	<script src="//code.jquery.com/jquery.js"></script>
	<!-- Bootstrap JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="../assets/js/topmenu.js"></script>
</body>
</html>