<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{viewTitle}}</title>
		
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/ipad.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../assets/images/brand-top.jpg" alt="">
					<h1 class="bold">Member Offers Database / </h1>
					<h1>Search Results for 'x'</h1>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a>Menu <i class="fa fa-chevron-down"></i></a>
						<ul class="btn-group-vertical" role="group" aria-label="...">
							<li type="button" class="btn btn-default active">Search / Add New Offers</li>
							<li type="button" class="btn btn-default">Reports</li>
							<li type="button" class="btn btn-default">What's New</li>
							<li type="button" class="btn btn-default">Unmatched Merchants</li>
							<li type="button" class="btn btn-default">Block Merchants</li>
							<li type="button" class="btn btn-default">User / Training Manual</li>
							<li type="button" class="btn btn-default">Mergers / Tables / Refresh</li>
							<li type="button" class="btn btn-default">Security Administration</li>
							<li type="button" class="btn btn-default">Sign Out</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav float-right">
					<div class="blocks">
						<li class="info">robert@national.aaa.com for club 999</li>
						<li class="info">AAA National (National Office Approver)</li>
					</div>
					
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<!-- End NAV -->
	<!-- Start Page Container -->
	<div class="container ipad-padding  push-down">
		
		
		<div class="row">
			<div class="col-xs-12">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-justified" role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">MOD - X Results</a></li>
						<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Source Data - X Results</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content text-center">
						<div role="tabpanel" class="tab-pane fade in active" id="home">
							<table class="table table-hover tablesorder text-center">
								<thead>
									<tr>
										<th>Modified</th>
										<th>Club</th>
										<th>Status</th>
										<th>Partner ID</th>
										<th>Merchant Name</th>
										<th>City</th>
										<th>State</th>
										<th>End Date</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>11/22/33</td>
										<td>123</td>
										<th class="text-draft">DRAFT</th>
										<td>12345</td>
										<td>Crabtree</td>
										<td>Orlando</td>
										<td>FL</td>
										<td>11/22/33</td>
										<td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil fa-2x"></i></button>
										<button type="button" class="btn btn-link btn-md"><i class="fa fa-times fa-2x"></i></button></td>
										
									</tr>
									
									<tr>
										<td>11/22/33</td>
										<td>123</td>
										<th class="text-active">ACTIVE</th>
										<td>12345</td>
										<td>Crabtree</td>
										<td>Orlando</td>
										<td>FL</td>
										<td>11/22/33</td>
										<td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil fa-2x"></i></button>
										<button type="button" class="btn btn-link btn-md"><i class="fa fa-times fa-2x"></i></button></td>
										
									</tr>
									<tr>
										<td>11/22/33</td>
										<td>123</td>
										<th class="text-deleted">DELETED</th>
										<td>12345</td>
										<td>Crabtree</td>
										<td>Orlando</td>
										<td>FL</td>
										<td>11/22/33</td>
										<td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil fa-2x"></i></button>
										<button type="button" class="btn btn-link btn-md"><i class="fa fa-times fa-2x"></i></button></td>
										
									</tr>
								</tbody>
							</table>
							<ul class="pagination pagination-large">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">«</span>
									</a>
								</li>
								<li> <a href="#" aria-label="Previous">
									<span aria-hidden="true">‹</span>
								</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="active"><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">›</span>
									</a>
								</li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">»</span>
									</a></li>
								</ul>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="profile">
								<table class="table table-hover tablesorder text-center">
									<thead>
										<tr>
											<th>Name</th>
											<th>Address</th>
											<th>City</th>
											<th>State</th>
											<th>Zip</th>
											<th>Source</th>
											<th>Source ID</th>
											
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Crabtree</td>
											<td>123 Hill St</td>
											<td>Orlando</td>
											<td>FL</td>
											<td>12345</td>
											<td>Automotive (AAR)</td>
											<td>12345</td>
											<td><button type="button" class="btn btn-link btn-lg">Add to MOD</button></td>
											
										</tr>
										
									</tbody>
								</table>
								<ul class="pagination pagination-large">
									<li>
										<a href="#" aria-label="Previous">
											<span aria-hidden="true">«</span>
										</a>
									</li>
									<li> <a href="#" aria-label="Previous">
										<span aria-hidden="true">‹</span>
									</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li class="active"><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li>
										<a href="#" aria-label="Next">
											<span aria-hidden="true">›</span>
										</a>
									</li>
									<li>
										<a href="#" aria-label="Next">
											<span aria-hidden="true">»</span>
										</a></li>
									</ul>
								</div>
								
							</div>
							<hr>
							<!-- End Tabs -->
						</div>
					</div>
				</div>
				
				<div class="form-group text-center">
					<button type="button" class="btn btn-custom-secondary btn-lg">Back to Search</button>
					<button type="button" class="btn btn-custom-primary btn-lg">Create New Merchant</button>
					
				</div>
				<!-- End Width-500 Container -->
			</div>
			<!-- End Page Container -->
			<!-- jQuery -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
			<!-- Bootstrap JavaScript -->
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
			<script src="../assets/js/topmenu.js"></script>
		</body>
	</html>