<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{viewTitle}}</title>
		
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/ipad.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		   <link rel="stylesheet" href="../assets/css/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="../assets/css/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="../assets/css/jquery-ui.css">
	</head>
	<body>
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../assets/images/brand-top.jpg" alt="">
					<h1>{{appTitle}}</h1>	
					<h1>/</h1>
					<h1>{{viewTitle}}</h1>

					
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-right">
						
						<li>Menu <i class="fa fa-chevron-down"></i>
						<ul class="btn-group-vertical" role="group" aria-label="...">
							<a href=""><li type="button" class="btn btn-default">Search / Add New Offers</li></a>
							<a href=""><li type="button" class="btn btn-default">Reports</li></a>
							<a href=""><li type="button" class="btn btn-default active">What's New</li></a>
							<a href=""><li type="button" class="btn btn-default">Unmatched Merchants</li></a>
							<a href=""><li type="button" class="btn btn-default">Block Merchants</li></a>
							<a href=""><li type="button" class="btn btn-default">User / Training Manual</li></a>
							<a href=""><li type="button" class="btn btn-default">Mergers / Tables / Refresh</li></a>
							<a href=""><li class="btn btn-default">Security Administration</li></a>
							<a href=""><li type="button" class="btn btn-default">Sign Out</li></a>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav float-right">
					<div class="blocks">
						<li class="info">robert@national.aaa.com for club 999</li>
						<li class="info">AAA National (National Office Approver)</li>
					</div>
					
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<!-- End NAV -->
	<!-- Start Page Container -->
	<div class="container  push-down">
		<div class="width-500 center-me">
			<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">Start Date</p>
							<div class="relative"> <i class="fa fa-calendar calendar-position absolute ghost "></i> <input class="form-control " id="datepicker" type="text"></div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">End Date</p>
							<div class="relative"> <i class="fa fa-calendar calendar-position absolute ghost "></i> <input class="form-control"  id="datepicker2" type="text"></div>
						</div>
					</div>
					
				</div>
				<hr>
			<div class="row">
			<div class="col-xs-12">
			<p class="bold">Source:</p>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="" name="optionsRadios" checked="">
						Automotive(AAR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="" name="optionsRadios" checked="">
						Hotel (TDR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="" name="optionsRadios" checked="">
						Attraction / Entertainment (AAR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="" name="optionsRadios" checked="">
						Restaurant (TDR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="" name="optionsRadios" checked="">
						Club Office (CR)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="" name="optionsRadios" checked="">
						Retail (MOD)
					</label>
				</div>

			</div>
			</div>
		</div>
		<hr>
			<div class="form-group">

				<p class="bold">Source ID:</p>
				<input type="text" class="form-control" placeholder="Source ID">
			</div>
			<div class="form-group text-center">
				<button type="button" class="btn btn-custom-primary btn-lg">Search</button>
				
			</div>
		</div>
		
		<!-- End Width-500 Container -->
	</div>
	<!-- End Page Container -->
	<!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="../assets/js/topmenu.js"></script>
		<script src="../assets/js/datepicker.js"></script>

</body>
</html>