
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../../assets/images/brand-top.jpg" alt="">
					<h1>Member Offers Database / </h1>					<h1>Security Administration</h1>
					
				</div>
				<div id="navbar">
					
			<ul class="nav navbar-nav navbar-right">
				
				<li>Menu <i class="fa fa-chevron-down"></i>
					<ul class="btn-group-vertical" role="group" aria-label="...">
						<a href=""><li type="button" class="btn btn-default">Search / Add New Offers</li></a>
						<a href=""><li type="button" class="btn btn-default">Reports</li></a>
						<a href=""><li type="button" class="btn btn-default">What's New</li></a>
						<a href=""><li type="button" class="btn btn-default">Unmatched Merchants</li></a>
						<a href=""><li type="button" class="btn btn-default">Block Merchants</li></a>
						<a href=""><li type="button" class="btn btn-default">User / Training Manual</li></a>
						<a href=""><li type="button" class="btn btn-default">Mergers / Tables / Refresh</li></a>
						<a ng-href="security.html"><li class="btn btn-default active">Security Administration</li></a>
						<a href=""><li type="button" class="btn btn-default">Sign Out</li></a>
					</ul>
				</li>
			</ul>
				<ul class="nav navbar-nav float-right">
					<div class="blocks">
						<li class="info">robert@national.aaa.com for club 999</li>
						<li class="info">AAA National (National Office Approver)</li>
					</div>
					
				</ul>
			</div>
		</div>
	

		</nav>
 	<div ng-show="showNotifications" class="alerts alert-success" ng-repeat="notification in notifications" type="{{notification.type}}" close><h1>{{notification.message}}</h1></div>