		<footer class="footer center">
		<hr>
			<div class="container">
				<h3>For more information, contact <a href="">Member Offer Database</a></h3>
				<h3>For all other inquires, contact <a href="">AICWEB Webmaster</a></h3>
				<p>&copy; Copyright 2014</p>
			</div>
		</footer>
