<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{viewTitle}}</title>
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/ipad.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		
		<!-- Progress Wizard  -->
		<!-- Classes used  (Classes applied to the "li")
		
		is-active = activates the current progress panel, adding a grey border
		
		is-done = finishes the current progress panel, adding a green border
		depends on "<i class="fa fa-check-circle-o fa-2x"></i>"

		is-disabled = disables the current progress panel, adding a lightgrey border
		depends on removing href="#" to disable clicking
		
		-->
		<div class="container  push-down">
			<div class="width-50 center-me">
				
				<div class="row text-center">
					<div class="col-xs-4">
						<h2>Merchant ID: NEW</h2>
					</div>
					<div class="col-xs-4">
						<h2>Merchant Club: 999</h2>
					</div>
					<div class="col-xs-4">
						<h2>Merchant Status: NEW</h2>
					</div>
					<!-- Progress Box -->
					<div class="col-xs-12">
						<hr>
					</div>
					<div class="col-xs-12 text-center">
						<ul class="container-white container-progress">
							<li class="progress-item is-done">
								<a href="#">Headquarter Info
									<i class="fa fa-check-circle-o fa-2x"></i>
								</a>
							</li>
							<li class="progress-item is-done">
								<a href="#">Location Info
									<i class="fa fa-check-circle-o fa-2x"></i>
								</a>
							</li>
							<li class="progress-item is-active">
								<a>Offer Details</a>
							</li>
							<li class="progress-item is-disabled">
								<a>Summary</a>
							</li>
						</ul>
					</div>
					<!-- End Progress Box -->
				</div>
				<hr>
			</div>
		</div>
	</body>
</html>