<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{viewTitle}}</title>
		
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/ipad.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../assets/images/brand-top.jpg" alt="">
					<h1>{{appTitle}}</h1>	
					<h1>/</h1>
					<h1>{{viewTitle}}</h1>
				</div>
				<div id="navbar">
					
					<ul class="nav navbar-nav navbar-right">
						
						<li>Menu <i class="fa fa-chevron-down"></i>
						<ul class="btn-group-vertical" role="group" aria-label="...">
							<a href=""><li type="button" class="btn btn-default">Search / Add New Offers</li></a>
							<a href=""><li type="button" class="btn btn-default">Reports</li></a>
							<a href=""><li type="button" class="btn btn-default">What's New</li></a>
							<a href=""><li type="button" class="btn btn-default">Unmatched Merchants</li></a>
							<a href=""><li type="button" class="btn btn-default">Block Merchants</li></a>
							<a href=""><li type="button" class="btn btn-default">User / Training Manual</li></a>
							<a href=""><li type="button" class="btn btn-default">Mergers / Tables / Refresh</li></a>
							<a href="../components/appSecurity/security.html"><li class="btn btn-default">Security Administration</li></a>
							<a href=""><li type="button" class="btn btn-default">Sign Out</li></a>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav float-right">
					<div class="blocks">
						<li class="info">robert@national.aaa.com for club 999</li>
						<li class="info">AAA National (National Office Approver)</li>
					</div>
					
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<!-- End NAV -->
	<!-- Start Page Container -->
	<div class="container  push-down">
		<div class="width-500 page-center">
			
			<h1 class="text-center big">Welcome to Member Offer Database (MOD)</h1>
			<h2 class="bold">Important:</h2>
			<ul>
				<li>All local merchants must be in compliance with AAA/CAA Quality Standards. By entering offer information into MOD you are confirming compliance.</li>
				<li>Remember to refer to the Training &amp; STyle Guide for information about how to enter local merchants into the database. If you need further assisstance please call Club Support at 800-24-2822, option 5.</li>
			</ul>
			<p>If you have questions along the way, click on the question marks found throughout the application, or review the training materials located on AICWEB MOD training page located in the top right menu.</p>
			<p>For questions / concerns please contacts Club Support at 800-274-2822, option 5.</p>
			<div class="checkbox text-center">
                    <label>
                        <input type="checkbox" value="">
                        Don't show again
                    </label>
                </div>
                <div class="form-group text-center">
				
				<button type="button" class="btn btn-custom-primary btn-lg">Continue</button>
			</div>
		</div>
		<!-- End Width-500 Container -->
	</div>
	<!-- End Page Container -->
	<!-- jQuery -->
	<script src="//code.jquery.com/jquery.js"></script>
	<!-- Bootstrap JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="../assets/js/topmenu.js"></script>
</body>
</html>