<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{viewTitle}}</title>
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/jquery-ui.theme.min.css">
		<link rel="stylesheet" href="../assets/css/jquery-ui.structure.min.css">
		<link rel="stylesheet" href="../assets/css/jquery-ui.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="../assets/css/ipad.css">
		
	</head>
	<body>
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../assets/images/brand-top.jpg" alt="">
					<h1>{{appTitle}}</h1>	
					<h1>/</h1>
					<h1>{{viewTitle}}</h1>
				</div>
				<div id="navbar">
					
					<ul class="nav navbar-nav navbar-right">
						
						<li><a>Menu <i class="fa fa-chevron-down"></i></a>
						<ul class="btn-group-vertical" role="group" aria-label="...">
							<li type="button" class="btn btn-default active">Search / Add New Offers</li>
							<li type="button" class="btn btn-default">Reports</li>
							<li type="button" class="btn btn-default">What's New</li>
							<li type="button" class="btn btn-default">Unmatched Merchants</li>
							<li type="button" class="btn btn-default">Block Merchants</li>
							<li type="button" class="btn btn-default">User / Training Manual</li>
							<li type="button" class="btn btn-default">Mergers / Tables / Refresh</li>
							<li type="button" class="btn btn-default">Security Administration<l/bootstrapi>
								<li type="button" class="btn btn-default">Sign Out</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav float-right">
						<div class="blocks">
							<li class="info">robert@national.aaa.com for club 999</li>
							<li class="info">AAA National (National Office Approver)</li>
						</div>
						
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<!-- End NAV -->
		<!-- Start Page Container -->
		<div class="container">
			<div class="width-50 center-me push-down ">
			
				<div class="row text-center">
					<div class="col-xs-4">
						<h2>Merchant ID: NEW</h2>
					</div>
					<div class="col-xs-4">
						<h2>Merchant Club: 999</h2>
					</div>
					<div class="col-xs-4">
						<h2>Merchant Status: NEW</h2>
					</div>
					<div class="col-xs-12">
					<hr>
					</div>
					<div class="col-xs-12 text-center">
						<ul class="container-white container-progress">
							<li class="progress-item is-done">
								<a href="">Headquarter Info
									<i class="fa fa-check-circle-o fa-2x"></i>
								</a>
							</li>
							<li class="progress-item is-done">
								<a href="">Location Info
									<i class="fa fa-check-circle-o fa-2x"></i>
								</a>
							</li>
							<li class="progress-item is-done">
								<a href="">Offer Details
									<i class="fa fa-check-circle-o fa-2x"></i>
								</a>
							</li>
							<!-- Remember to remove href from disabled -->
							<li class="progress-item is-disabled">
								<a>Summary</a>
							</li>
						</ul>
					</div>
				</div>
				
				<hr>
				
				<div class="row">
					<div class="col-xs-12">
						<h1>
						Location Address Search
						</h1>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">Start Date</p>
							<div class="relative"> <i class="fa fa-calendar calendar-position absolute ghost"></i> <input class="form-control" type="text" id="datepicker"></div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">End Date</p>
							<div class="relative"> <i class="fa fa-calendar calendar-position absolute ghost"></i> <input class="form-control" type="text" id="datepicker"></div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h1>
						Offer Available For:
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="inline">
							<div class="radio">
								<label>
									<input type="radio" value="" name="optionsRadios" checked="">
									All Members
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" value="" name="optionsRadios">
									AAA Only
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" value="" name="optionsRadios">
									CAA Only
								</label>
							</div>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8">
						
						<div class="form-group">
							<p class="req">Club:</p>
							<select class="form-control">
								<option value="" disabled="" selected="">All Clubs</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4">
						<p>All Clubs?</p>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								All Clubs
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8">
						
						<div class="form-group">
							<p class="req">State:</p>
							<select class="form-control">
								<option value="" disabled="" selected="">All States</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4">
						<p>All States?</p>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								All States
							</label>
						</div>
						
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						
						<div class="form-group">
							<p class="req inline-me">Description of Merchant:</p>
							<p class="inline-me text-area">X of X characters remaining</p>
							<textarea class="form-control" placeholder="Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum" rows="3"></textarea>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<h1 class="req">
						Offer Available From:
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="inline">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									AAA / CAA Office
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									Merchant Locations
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									Online
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									Phone
								</label>
							</div>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">URL</p>
							<input type="text" class="form-control" placeholder="URL" autocomplete="off">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group phone-number">
							<p>Phone</p>
							<div class="col-xs-3">
								<input type="tel" name="phone" class="form-control" placeholder="(123)" size="3" maxlength="3" required="required" title="">
							</div>
							
							<div class="col-xs-3">
								<input type="tel" name="phone" class="form-control" placeholder="123" size="3" maxlength="3" required="required" title="">
							</div>
							
							<div class="col-xs-4">
								<input type="tel" name="phone" class="form-control" placeholder="1234" size="4" maxlength="4" required="required" title="">
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p>Offer Type</p>
							<select class="form-control">
								<option value="" disabled="" selected="">Please Select One</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">Offer Amount</p>
							<input type="text" class="form-control" placeholder="placeholder" autocomplete="off">
						</div>
					</div>
				</div>
				<hr>
				
				
				<div class="row">
					<div class="col-xs-12">
						
						<div class="form-group">
							<p class="req inline-me">Short Offer Description</p>
							<p class="inline-me text-area">X of X characters remaining</p>
							<textarea class="form-control" placeholder="Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum" rows="3"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						
						<div class="form-group">
							<p class="req inline-me">Full Offer Description</p>
							<p class="inline-me text-area">X of X characters remaining</p>
							<textarea class="form-control" placeholder="Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum" rows="3"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="well text-center">
							<p>Please enter the offer restrictions manually</p>
							<p class="bold">OR</p>
							<p>enter the AAA.com RL to the restrictions page</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						
						<div class="form-group">
							<p class="req inline-me">Offer Restrictions</p>
							<p class="inline-me text-area">X of X characters remaining</p>
							<textarea class="form-control" placeholder="Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum" rows="3"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<p class="req">Offer Restrictions URL</p>
							<input type="text" class="form-control" placeholder="URL" autocomplete="off">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<p class="req">Keywords</p>
							<input type="text" class="form-control" placeholder="Keywords" autocomplete="off">
						</div>
					</div>
				</div>
				<hr class="hr-big">
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1>
						Contract Offer Categories
						</h1>
						<p>A minimum of one category and subcategory must be selected to define the Merchant's business.</p>
					</div>
				</div>
				
			
			<div class="row">
				<div class="col-xs-12 well">
					
					<!-- Nav tabs -->
					<!-- nav-justified class on nav-tabs for justified -->
					<ul class="nav nav-tabs " role="tablist">
						<li role="presentation" class="active"><a href="#1" data-toggle="tab"><i class="fa fa-car"></i>  Automotive </a></li>
						<li role="presentation"><a href="#2" data-toggle="tab"><i class="fa fa-music"></i>  Entertainment</a></li>
						<li role="presentation"><a href="#3"  data-toggle="tab"><i class="fa fa-money"></i>  Finance</a></li>
						<li role="presentation"><a href="#4" data-toggle="tab"><i class="fa fa-home"></i>  Home &amp; Business</a></li>
						<li role="presentation"><a href="#5"  data-toggle="tab"><i class="fa fa-life-ring"></i> Insurance</a></li>
						<li role="presentation"><a href="#6" data-toggle="tab"><i class="fa fa-user"></i>  Personal Services</a></li>
						<li role="presentation"><a href="#7"  data-toggle="tab"><i class="fa fa-cutlery"></i>  Restaurants</a></li>
						<li role="presentation"><a href="#8" data-toggle="tab"><i class="fa fa-shopping-cart"></i>  Shopping</a></li>
						<li role="presentation"><a href="#9"  data-toggle="tab"><i class="fa fa-suitcase"></i>  Travel</a></li>
						
					</ul>

					<!-- <ul class="nav nav-tabs nav-justified" role="tablist">
						<li role="presentation" class="active"><a href="#1" data-toggle="tab"><i class="fa fa-car"></i> Automotive <i class="fa fa-car"></i></a></li>
						<li role="presentation"><a href="#2" data-toggle="tab"><i class="fa fa-music"></i> Entertainment <i class="fa fa-music"></i></a></li>
						<li role="presentation"><a href="#3"  data-toggle="tab"><i class="fa fa-money"></i> Finance <i class="fa fa-money"></i></a></li>
						<li role="presentation"><a href="#4" data-toggle="tab"><i class="fa fa-home"></i> Home &amp; Business <i class="fa fa-home"></i></a></li>
						<li role="presentation"><a href="#5"  data-toggle="tab"><i class="fa fa-life-ring"></i> Insurance <i class="fa fa-life-ring"></i></a></li>
						<li role="presentation"><a href="#6" data-toggle="tab"><i class="fa fa-user"></i> Personal Services <i class="fa fa-user"></i></a></li>
						<li role="presentation"><a href="#7"  data-toggle="tab"><i class="fa fa-cutlery"></i> Restaurants <i class="fa fa-cutlery"></i></a></li>
						<li role="presentation"><a href="#8" data-toggle="tab"><i class="fa fa-shopping-cart"></i> Shopping <i class="fa fa-shopping-cart"></i></a></li>
						<li role="presentation"><a href="#9"  data-toggle="tab"><i class="fa fa-suitcase"></i> Travel <i class="fa fa-suitcase"></i></a></li>
						
					</ul> -->
					<!-- Tab content -->
					<div class="tab-content categories">
						<div class="col-xs-12 text-center">
							
							
							<div role="tabpanel" class="tab-pane fade in active" id="1">
								<!-- Collapse Row -->
								
								
								
								<div class="checkbox inline-me">
									<label>
										<input type="checkbox" value="">
										All Automotive
									</label>
									<i data-toggle="collapse" href="#collapse1" class="fa fa-chevron-up" aria-expanded="true">
									
									</i>
								</div>
								
								
								<div class="text-center">
									
									<div class="collapse in" id="collapse1" aria-expanded="true">
										
										<div class="container-fluid">
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								
								<!-- End first collapse -->
								
								
								<!-- End Collapse Row -->
							</div>
							<!-- End First Panel -->
						</div>
					</div>
					
				</div>
			</div>
			
			
			<hr class="hr-big">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1>
					Contract Offer Targeting
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 well">
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-justified" role="tablist">
						<li role="presentation" class="active"><a href="#11" data-toggle="tab">Demographics</a></li>
						<li role="presentation"><a href="#12" data-toggle="tab">Member Types</a></li>
						<li role="presentation"><a href="#13"  data-toggle="tab">Events</a></li>
						
						
					</ul>
					<!-- Tab content -->
					<div class="tab-content categories">
						<div class="col-xs-12 text-center">
							
							
							<div role="tabpanel" class="tab-pane fade in active" id="11">
								<!-- Collapse Row -->
								
								
								
								<div class="checkbox inline-me">
									<label>
										<input type="checkbox" value="">
										All Demographics
									</label>
									<i data-toggle="collapse" href="#collapse11" class="fa fa-chevron-up" aria-expanded="true">
									
									</i>
								</div>
								
								
								<div class="text-center">
									
									<div class="collapse in" id="collapse11" aria-expanded="true">
										
										<div class="container-fluid">
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" value="">
														Option two
													</label>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								
								<!-- End first collapse -->
								
								
								<!-- End Collapse Row -->
							</div>
							<!-- End First Panel -->
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="width-50 center-me">
				<hr class="hr-big">
				<div class="row">
					<div class="col-xs-12">
						<h1>
						Contract Offer Image
						</h1>
					</div>
					<div class="container-fluid">
						<div class="col-xs-4">
							<div class="thumbnail">
								<img src="../assets/images/150x150.gif">
							</div>
						</div>
						<div class="col-xs-8">
							<p>Image Requirements:</p>
							<ul>
								<li>File Format - .jpg / .png / .gif</li>
								<li>DPI - At least 72</li>
								<li>Size - 150 x 150 pixels</li>
								<li>Max Size - 1MB</li>
							</ul>
			<input type="file">
						</div>
					</div>
				</div>
				<hr class="hr-big">
				<div class="row">
					<div class="col-xs-12">
						<h1>
						Contract Offer Coupon
						</h1>
					</div>
					<div class="container-fluid">
						<div class="col-xs-4">
							<div class="thumbnail">
								<img src="../assets/images/150x150.gif">
							</div>
						</div>
						<div class="col-xs-8">
							<p>Image Requirements:</p>
							<ul>
								<li>File Format - .jpg / .png / .gif</li>
								<li>DPI - At least 72</li>
								<li>Size - 150 x 150 pixels</li>
								<li>Max Size - 1MB</li>
							</ul>
							<input type="file">
						</div>
					</div>
				</div>
				<hr class="hr-big">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group flex-group">
							<button type="button" class="btn btn-custom-secondary btn-lg pull-left">Back</button>
							<button type="button" class="btn btn-custom-secondary btn-lg">Reset</button>
							<button type="button" class="btn btn-custom-primary btn-lg pull-right">Review Summary &amp; Save</button>
						</div>
					</div>
					
				</div>
			</div>
			<!-- End Container -->
		</div>
		<!-- End Page Container -->
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="../assets/js/collapse.js"></script>
		<script src="../assets/js/datepicker.js"></script>
		<script src="../assets/js/topmenu.js"></script>
		
	</body>
</html>