<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{viewTitle}}</title>
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/ipad.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../assets/images/brand-top.jpg" alt="">
					<h1>{{appTitle}}</h1>	
					<h1>/</h1>
					<h1>{{viewTitle}}</h1>
				</div>
				<div id="navbar">
					
					<ul class="nav navbar-nav navbar-right">
						
						<li><a>Menu <i class="fa fa-chevron-down"></i></a>
						<ul class="btn-group-vertical" role="group" aria-label="...">
							<li type="button" class="btn btn-default active">Search / Add New Offers</li>
							<li type="button" class="btn btn-default">Reports</li>
							<li type="button" class="btn btn-default">What's New</li>
							<li type="button" class="btn btn-default">Unmatched Merchants</li>
							<li type="button" class="btn btn-default">Block Merchants</li>
							<li type="button" class="btn btn-default">User / Training Manual</li>
							<li type="button" class="btn btn-default">Mergers / Tables / Refresh</li>
							<li type="button" class="btn btn-default">Security Administration<l/bootstrapi>
								<li type="button" class="btn btn-default">Sign Out</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav float-right">
						<div class="blocks">
							<li class="info">robert@national.aaa.com for club 999</li>
							<li class="info">AAA National (National Office Approver)</li>
						</div>
						
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<!-- End NAV -->
		<!-- Start Page Container -->
		<div class="container  push-down">
			<div class="width-50 center-me">
			
				<div class="row text-center">
					<div class="col-xs-4">
						<h2>Merchant ID: NEW</h2>
					</div>
					<div class="col-xs-4">
						<h2>Merchant Club: 999</h2>
					</div>
					<div class="col-xs-4">
						<h2>Merchant Status: NEW</h2>
					</div>
					<div class="col-xs-12 text-center">
						<ul class="container-white container-progress">
							<li class="progress-item is-active">
								<a href="">Headquarter Info
									
								</a>
							</li>
							<li class="progress-item is-disabled">
								<a href="">Location Info
									
								</a>
							</li>
							<li class="progress-item is-disabled">
								<a href="">Offer Details
									
								</a>
							</li>
							<!-- Remember to remove href from disabled -->
							<li class="progress-item is-disabled">
								<a>Summary</a>
							</li>
						</ul>
					</div>
				</div>
				
				<hr>
				
				<div class="row">
					<div class="col-xs-12">
						<h1>
						Merchant Info
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p>Source</p>
							<select class="form-control">
								<option value="" disabled="" selected="">Please Select One</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<p>Source ID</p>
							<div class="input-group">
								<input type="text" class="form-control" >
								<span class="input-group-btn">
									<button class="btn btn-custom-secondary" type="button">Link to Source</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<p class="req">Merchant Name</p>
							<input type="text" class="form-control" placeholder="Merchant Name">
						</div>
					</div>
					</div>
					<div class="row">
						
					
					<div class="col-xs-12">
						<div class="form-group">
							<p class="req">Address 1</p>
							<input type="text" class="form-control" placeholder="Address">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<p>Address 2</p>
							<input type="text" class="form-control" placeholder="Suite, Unit, Building Number">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">City / State</p>
							<input type="text" class="form-control" placeholder="Change me">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">Zip Code</p>
							<input type="text" class="form-control" placeholder="Zip Code">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p class="req">Country</p>
							<input type="text" class="form-control" placeholder="before City/State">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group phone-number">
							<p>Cell Phone</p>
							<div class="col-xs-3">
								<input type="tel" name="phone" class="form-control" placeholder="(123)" size="3" maxlength="3" required="required" title="">
							</div>
							
							<div class="col-xs-3">
								<input type="tel" name="phone" class="form-control" placeholder="123" size="3" maxlength="3" required="required" title="">
							</div>
							
							<div class="col-xs-4">
								<input type="tel" name="phone" class="form-control" placeholder="1234" size="4" maxlength="4" required="required" title="">
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<h1>
						Contact Info
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p>First Name</p>
							<input type="text" class="form-control" placeholder="First Name">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<p>Last Name</p>
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<p>Email</p>
							<input type="text" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group phone-number">
							<p>Cell Phone</p>
							<div class="col-xs-3">
								<input type="tel" name="phone" class="form-control" placeholder="(123)" size="3" maxlength="3" required="required" title="">
							</div>
							
							<div class="col-xs-3">
								<input type="tel" name="phone" class="form-control" placeholder="123" size="3" maxlength="3" required="required" title="">
							</div>
							
							<div class="col-xs-4">
								<input type="tel" name="phone" class="form-control" placeholder="1234" size="4" maxlength="4" required="required" title="">
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<h1>
						Availability
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="radio">
							<div class="radio">
								<label>
									<input type="radio" value="" name="optionsRadios" checked="">
									Merchant licensed to utilize the AAA Discounts &amp; Rewards <span>&#8480;</span> logo (default)
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" value="" name="optionsRadios">
									Discount available through club channels
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" value="" name="optionsRadios">
									Third party vendor, not licensed to use the AAA Discounts &amp; Rewards<span>&#8480;</span> logo, meets discount standards
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" value="" name="optionsRadios">
									Affiliate merchant (Only avaliable to AAA National Office Users)
								</label>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<h1>
						Merchant Logo
						</h1>
					</div>
					<div class="container-fluid">
						<div class="col-xs-4">
							<div  class="thumbnail">
								<img src="../assets/images/150x150.gif">
							</div>
						</div>
						<div class="col-xs-8">
							<p>Image Requirements:</p>
							<ul>
								<li>File Format - .jpg / .png / .gif</li>
								<li>DPI - At least 72</li>
								<li>Size - 150 x 150 pixels</li>
								<li>Max Size - 1MB</li>
							</ul>
							 <input type="file">
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<button type="button" class="btn btn-custom-secondary btn-lg pull-left">Back to Search</button>
							<button type="button" class="btn btn-custom-primary btn-lg pull-right">Continue</button>
						</div>
					</div>
					
				</div>
			</div>
			<!-- End Width-700 Container -->
		</div>
		<!-- End Page Container -->
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="../assets/js/topmenu.js"></script>
	</body>
</html>