<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{viewTitle}}</title>
		<!-- Bootstrap CSS -->
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/ipad.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- NAV Start -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="../assets/images/brand-top.jpg" alt="">
					<h1>{{appTitle}}</h1>	
					<h1>/</h1>
					<h1>{{viewTitle}}</h1>
				</div>
				<div id="navbar">
					
					<ul class="nav navbar-nav navbar-right">
						
						<li><a>Menu <i class="fa fa-chevron-down"></i></a>
						<ul class="btn-group-vertical" role="group" aria-label="...">
							<li type="button" class="btn btn-default active">Search / Add New Offers</li>
							<li type="button" class="btn btn-default">Reports</li>
							<li type="button" class="btn btn-default">What's New</li>
							<li type="button" class="btn btn-default">Unmatched Merchants</li>
							<li type="button" class="btn btn-default">Block Merchants</li>
							<li type="button" class="btn btn-default">User / Training Manual</li>
							<li type="button" class="btn btn-default">Mergers / Tables / Refresh</li>
							<li type="button" class="btn btn-default">Security Administration<l/bootstrapi>
								<li type="button" class="btn btn-default">Sign Out</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav float-right">
						<div class="blocks">
							<li class="info">robert@national.aaa.com for club 999</li>
							<li class="info">AAA National (National Office Approver)</li>
						</div>
						
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<!-- End NAV -->
		<!-- Start Page Container -->
		<div class="container  push-down">
			<div class="width-50 center-me">
				
				<div class="row text-center">
					<div class="col-xs-4">
						<h2>Merchant ID: NEW</h2>
					</div>
					<div class="col-xs-4">
						<h2>Merchant Club: 999</h2>
					</div>
					<div class="col-xs-4">
						<h2>Merchant Status: NEW</h2>
					</div>
					<div class="col-xs-12 text-center">
						<ul class="container-white container-progress">
							<li class="progress-item is-done">
								<a href="#">Headquarter Info
									<i class="fa fa-check-circle-o fa-2x"></i>
								</a>
							</li>
							<li class="progress-item is-done">
								<a href="#">Location Info
									<i class="fa fa-check-circle-o fa-2x"></i>
								</a>
							</li>
							<li class="progress-item is-done">
								<a href="#">Offer Details
									<i class="fa fa-check-circle-o fa-2x"></i>
								</a>
							</li>
							<!-- Remember to remove href from disabled -->
							<li class="progress-item is-active">
								<a>Summary</a>
							</li>
						</ul>
					</div>
				</div>
				
				<hr>
				
				<div class="row">
					<div class="col-xs-12">
						<h1>
tbd						</h1>
					</div>
				</div>
				
					
				
			</div>
			<!-- End Width-700 Container -->
		</div>
		<!-- End Page Container -->
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="../assets/js/topmenu.js"></script>
	</body>
</html>