@media (max-width: 1099px) {
    .navbar-header {
        padding-bottom: 10px;
    }
    .navbar-nav {
        text-align: center;
        width: 100%;
        float: none!important;
    }
    .navbar-nav>li {
        width: 100%;
    }
    .navbar-nav .blocks {
        display: inline;
    }
    .navbar-nav .blocks {
        border: none;
    }
    .navbar-nav {
        margin-left: 0;
    }
    .btn-group-vertical {
        left: 0;
    }
    /*.width-500, .width-900, .width-50, .ipad-padding {
      padding-top:21%; 
    }*/
    .search-container{
          padding-top: 35vh; 
    }
    .search-modify-container{
        padding-top:17vh;
    }
    .navbar-nav .blocks, .navbar-right {
        border: none;
    }
    .navbar-header h1:first-of-type {
        padding-left: 0;
    }
    .width-50 {
        width: 100%;
    }
    .page-center {
        position: relative;
    }
    .nav-tabs.nav-justified>li {
        width: 50%;
        float: left;
    }
   /* label.ng-binding {
        width: 100%;
    }*/
    .push-me-mobile {
        display: block;
        padding-top: 10px;
    }
    .navbar-header, .push-me-mobile {
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 1099px) {}