/*
TYPE
COLORS
BUTTONS
INPUTS
Misc - Positoning
Top Nav
Table
Tabs
Progress
Boxes
Organize Me
*/
/**************************
Type
**************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.big {
    font-size: 2em;
}
.bold-600 {
    font-weight: 600;
}
p, label {
    font-size: 1em;
}
h1 {
    font-size: 1.125em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 0.875em;
}
h4, h5, h6 {
    font-size: 0.813em;
}
*, html, body, button, h1, h2, h3, h5, h6, label, a, .alerts, div, li, span {
    font-family: 'Open Sans', sans-serif;
}
a {
    font-size: 1.25em;
}
.pagination a, .progress-item a {
    font-size: .85em;
}
label {
    font-weight: 700;
}
.alt {
    color: #0088ff;
}
hr {
    border-top: 1px solid #000;
}
.bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}
.text-bold {
    font-weight: bold;
}
/**************************
End Type
**************************/
/**************************
Colors
**************************/

.faded {
    color: #9da2a4;
}
hr {
    border-top: 1px solid #D9DBDC;
}
.hr-big {
    margin-top: 5%;
    margin-bottom: 5%;
}
.primary {
    background-color: #263A5B!important
}
.secondary {
    background-color: #d9dbdc!important;
}
/**IMPORTANT* is there for chrome save to pdf*/

.text-active {
    color: #639340;
}
.text-draft {
    color: #d4942f;
}
.text-deleted, .text-expired {
    color: #bf3030;
}
.text-light {
    font-weight: 300;
}
.text-subtle {
    color: #818789;
}
.text-link, .nav .fa {
    color: #263A5B;
    ;
}
.text-color {
    color: #5c6366;
}
.bg-light {
    background-color: #f2f4f5;
}
.bg-dark {
    background-color: #8d9295;
}
.border-light {
    border: 1px solid #bfbfbf;
}
.color-red {
    color: #E74C3C;
}
/**************************
End Colors
**************************/
/**************************
Buttons
**************************/
/*.btn:focus, .btn.focus, .btn:hover {
    color: white;
}*/

.btn-custom-primary {
    background-color: #449A5A;
    color: white;
}
.btn-custom-primary:hover, .btn-custom-secondary:focus {
    background-color: #234F2E;
}
.btn-custom-secondary {
    background-color: #d9dbdc;
}
.btn-custom-secondary:hover, .btn-custom-secondary:focus {
    color: white;
    background-color: #8d9295;
}
.btn[disabled] {
    opacity: 0.55;
}
.btn {
    border-radius: 0!important;
}
.btn-custom-secondary, .btn-custom-primary {
    margin-right: 3px;
}
.btn-link:hover, .btn-link:focus, .btn-link:hover {
    color: #23527c!important;
}
.btn , .btn-edit, .btn-delete, .table-hover>tbody>tr:hover, .form-control:focus, .alerts{
    transition: all 0.3s;
}

/**************************
End Buttons
**************************/
/**************************
Inputs
**************************/

.ghost {
    pointer-events: none;
}
.calendar-position {
    top: 30%;
    right: 3%;
}
.has-error .form-control, form .ng-invalid.ng-dirty {
    background-color: rgb(255, 223, 223);
    border-color: #a94442;
}
/*#datepicker, .form-control {
    display: table-cell;
    width: 100%;
}*/

.req {
    border-left: 5px solid #C62F2F;
}
.rec {
    border-left: 5px solid #D9752B;
}
/*.form-group .req::before, .req::before {
    content: "*";
    top: 0px;
    color: #E74C3C;
    border: 0px solid;
}*/
/*Override bootstrap checkbox appearance */

.well input[type=checkbox] {
    margin-right: 5px;
}
input[type=checkbox], input[type=radio] {
    margin: 2px 0px 0px;
}
/*Checkboxes Size */

input[type=checkbox], input[type=radio] {
    -ms-transform: scale(1.3);
    /* IE */
    
    -moz-transform: scale(1.3);
    /* FF */
    
    -webkit-transform: scale(1.3);
    /* Safari and Chrome */
    
    -o-transform: scale(1.3);
    /* Opera */
}
/*IE 10 styles*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /*   .navbar-right {
        margin-right: 5px;
    }*/
    /*.div-delete{
         -ms-flex-pack: center;
         -ms-flex-align:center;
    }
    .inner{
        padding-top:25vh;
    }*/
    /* .div-delete {
        position: fixed;
       
        background-color: white;
        height: 100%;
        border-radius: 0;
    }*/
    
    body {
        -ms-overflow-style: scrollbar;
    }
    input[type="radio"]:focus, input[type="checkbox"]:focus {
        outline: none;
    }
    .inline.ng-scope {
        padding-left: 1.5%;
    }
}
/*
Form Validation
*/
/*
form .ng-invalid.ng-dirty {
    background-color: lightpink;
}*/

form .ng-valid-ng-dirty {
    background-color: lightgreen;
}
span.summary.ng-invalid {
    color: #ff0033;
    font-weight: bold;
}
span.summary.ng-valid {
    color: green;
}
div .error {
    color: #C62F2F;
    font-weight: bold;
    position: absolute;
}
.med {
    font-size: 1.5em;
}
.col-xs-custom-20 {
    width: 20%;
}
.text-left {
    text-align: left;
}
.scrollable {
    height: 350px;
    overflow-y: scroll;
}
.padding-top-sm {
    padding-top: 10px;
}
.padding-left-sm {
    padding-left: 50px;
}
.padding-bot-sm {
    padding-bottom: 10px;
}
.width-750 {
    width: 900px;
}
.center {
    width: 100%;
    text-align: center;
}
/*
.checkboxes.ng-binding.ng-scope{
    padding:10px;
}*/
/*
EndForm Validation
*/

.form-group .phone-number {
    margin-bottom: 25px;
}
.phone-number .col-xs-3::after {
    content: "-";
    position: absolute;
    right: 5px;
    color: black;
    border: 0px solid;
    top: 5px;
}
.phone-number .col-xs-3 {
    width: 21%;
}
.phone-number .col-xs-4 {
    width: 22%;
}
.phone-number .col-xs-2 {
    width: 18%;
}
.phone-number .col-xs-3, .phone-number .col-xs-4, .phone-number .col-xs-5, #phonerow, .phone-number .col-xs-2 {
    padding-left: 0;
}
.phone-number .form-control {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
/**************************
End Inputs
**************************/
/**************************
Misc - Positoning
**************************/

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.float-right {
    float: right;
}
.page-center {
    width: 500px;
    /*    height: 500px;*/
    /*  position: absolute;*/
    
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 15%;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.inline {
    display: inline;
}
/*Override bootstrap hr margins*/

hr {
    margin-top: 10px;
    margin-bottom: 15px;
}
.center-me {
    margin: 0 auto;
}
.width-500 {
    width: 500px;
}
.width-900 {
    width: 900px;
}
/**************************
End Misc - Positioning
**************************/
/**************************
Top Nav
**************************/

.navbar-nav>li>a {
    line-height: 22px;
}
.info {
    padding: 3px 20px;
}
.navbar-header h1 {
    display: inline;
    vertical-align: middle;
    font-size: 1.5em;
}
.navbar-header h1:first-of-type {
    padding-left: 20px;
}
.btn-group-vertical {
    box-shadow: -3px 8px 15px 4px rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 0;
    right: 0;
    padding: 0;
    display: none;
    top: 52px;
}
.navbar-default {
    background-color: white;
    border-bottom: 5px solid #406197;
}
.btn-group-vertical .btn-default:hover, .btn-group-vertical .btn-default.active {
    background-color: #263A5B;
    color: white;
}
ul.nav.navbar-nav.navbar-right:hover {
    background-color: #263A5B;
    color: white;
}
ul.nav.navbar-nav.navbar-right:hover .fa {
    color: white;
}
.btn-group-vertical .btn {
    border-radius: 0;
    border: 0;
}
.navbar-nav .blocks, .navbar-right {
    border-left: 1px solid #406197
}
/*Bootstrap's default Navbar reset*/

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
}
.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
}
.push-down {
    padding-top: 7%;
}
.push-up {
    padding-bottom: 2%;
}
.navbar-right:hover .btn-group-vertical {
    display: block;
    -webkit-animation: fadeIn .2s;
    animation: fadeIn .2s;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*End Bootstrap's default Navbar reset*/
/**************************
End Top Nav
**************************/
/**************************
Table
**************************/

.table>thead>tr>th {
    border-bottom: none;
}
th {
    text-align: center;
}
.table-hover>tbody>tr:hover {
    background-color: #D4DDED;
}
table .btn {
    padding-top: 0;
    padding-bottom: 0;
}
/*TABLE FIX FOR CLUB CODES*/

table {
    table-layout: fixed;
    width: 100%;
}
table td {
    word-break: break-all;
}
/*Override bootstrap verticle align top*/

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
/**************************
End Table
**************************/
/**************************
Tabs
**************************/

.nav-tabs {
    margin-bottom: 15px;
}
/**************************
End Tabs
**************************/
/**************************
Progress
**************************/

.container-progress {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
}
.container-progress {
    padding: 0;
    display: inline-block;
    overflow: hidden;
    *zoom: 1;
    list-style-type: none;
}
.progress-item {
    position: relative;
    float: left;
    border-right: 1px solid #bfbfbf;
}
.progress-item:last-child {
    border-right: none!important;
}
.progress-item.is-disabled a {
    color: #c7cdd3;
    cursor: default;
}
.progress-item.is-disabled a:hover {
    color: #c7cdd3;
}
.progress-item.is-active a:hover {
    color: #5c6366;
    cursor: default;
}
.progress-item:after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -6px;
    right: -7px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.progress-item .fa {
    position: absolute;
    top: 3%;
    left: 45%;
}
.progress-item .fa-2x {
    font-size: 1.8em!important;
    color: #388E3C;
}
.is-done a {
    border-bottom: 2px solid #388E3C;
}
.is-active a {
    border-bottom: 2px solid grey;
}
.is-disabled a {
    border-bottom: 2px solid rgb(181, 181, 181);
}
.progress-item a {
    display: block;
    color: #5c6366;
    text-decoration: none;
    padding: 25px 25px 15px 25px;
}
.progress-item.is-active a, .progress-item.is-disabled a {
    padding: 20px 25px 20px 25px;
}
.progress-item a:hover {
    color: #08f;
}
.progress-item.is-done a, .progress-item.is-done a:hover {
    color: #388E3C;
}
.progress-item.is-active, .progress-item.is-active:after {
    background-color: #E0E0E0;
}
.progress-item.is-active a {
    color: #5c6366;
}
.progress-item.is-disabled a {
    color: #c7cdd3;
    cursor: default;
}
/**************************
End Progress
**************************/
/**************************
Boxes
**************************/

.box {
    height: 170px;
    padding: 5px;
}
.box div {
    height: 100%;
    float: left;
}
.box-image {
    height: 100%;
    position: relative;
    width: 15%;
}
.box-image img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.box-image img, .box, .thumbnail img {
    border: 1px solid #d9dbdc;
}
.box-offer-description {
    width: 60%;
}
.box h1, .box h2, .box p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.box-offer-type {
    float: left;
    width: 25%;
    height: 100%;
    padding: 10px;
    border-left: 1px solid #d9dbdc;
    position: relative;
}
.box-offer-type h1 {
    font-size: 2em;
}
.box-controls {
    position: absolute;
    top: 0;
    right: 5px;
}
.box-location-info, .box-contact-info {
    width: 39%;
}
.box-merch-controls {
    width: 5%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
}
.box-location-info, .box-contact-info, .box-offer-description, .box-offer-type {
    padding-top: 3%;
    padding-left: 5%;
}
.box-merch-controls .btn {
    padding-top: 2px;
}
.box a {
    font-size: .95em;
}
/**************************
End Boxes
**************************/
/**************************
Organize Me
**************************/

.width-50 {
    width: 55%;
}
.thumbnail {
    border: none;
}
.flex-group {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*IE, the bane of my existance ;) */
    /* 
      display: -ms-flexbox;
    -ms-flex-pack: center;*/
    /*
    display: -ms-flexbox;
    -ms-flex-pack: justify;*/
}
.inline .radio, .inline-me, .inline .checkbox {
    display: inline-block;
    padding-left: 5px;
}
.checkbox, .radio {
    padding-top: 5px;
    margin-top: 0px;
    padding-bottom: 5px;
}
.text-area {
    position: absolute;
    right: 20px;
    top: 3px;
}
.checkbox label, .radio label {
    padding-right: 5px;
}
.thumbnail {
    margin-bottom: 0;
}
.fa-chevron-down, .fa-chevron-up {
    margin-left: 0.4em;
    cursor: pointer;
}
/*.categories{
    height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}*/

.well h2 {
    margin: 0px;
}
.well .nav-tabs.nav-justified>li>a {
    /*font-size: .8em;*/
    
    padding: 10px 0px;
}
/*IF I resize the tabs the scroll is not reset*/

.well .well-custom {
    border: none;
    padding: 0px;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(204, 204, 204)
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 0;
}
/*Offer categories box*/

.tab-pane .col-xs-2 {
    width: 12.5%;
}
.nav-tabs {
    border-bottom: 1px solid rgb(204, 204, 204)!important;
}
/*disable highlighting in whole app*/

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.well .ng-binding {
    cursor: pointer;
}
.footer {
    /* position: absolute;*/
    
    bottom: 0;
    width: 100%;
}
.footer h3 {
    margin-top: 0px;
}
/*.well .fa {
    color: black;
}*/
* {
    outline: none!important;
}
.nav-tabs>li {
    width: 50%;
    float: left;
    text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid #ddd;
}
/**************************
End Organize Me
**************************/

.btn-custom-primary.focus, .btn-custom-primary:focus, .btn-custom-primary.focus:hover, .btn.focus, .btn:focus, .btn:hover {
    color: white;
}
.well {
    background-color: transparent;
    padding: 0px;
    box-shadow: none;
    position: relative;
}
/*label.ng-binding{
      width: 100%;
  
}
*/

.inline.ng-scope {
    padding-left: 20px;
}
label.ng-binding {
    width: 20%;
}
.well-club-child {
    padding: 15px 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgb(231, 232, 232);
}
.well-club-child:first-child {
    border-top: 1px solid transparent;
}
/*.flex-group.ng-scope {
  padding-left: 3%;
}*/

.well-club-child:hover {
    background-color: #F5F5F5;
    border-bottom: 1px solid rgb(231, 232, 232);
    border-top: 1px solid transparent;
}
/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.alerts {
    text-align: center;
    /* position: absolute;
  bottom: -20px;*/
    
    height: 100%;
    width: 100%;
}
.alerts h1 {
    padding-top: 5px;
    margin: 0px;
}
.no-padding {
    padding: 0px;
}
.well label {
    font-size: .9em;
}
.div-delete {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* align horizontal */
    
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* align vertical */
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.inner {
    text-align: center;
    padding: 10%;
}
.inner h2 {
    margin-bottom: 30px;
}
.navbar-right a {
    font-size: 1em;
    color: black;
}
.navbar-right a:hover {
    text-decoration: none!important;
}
.navbar-right .fa:hover {
    cursor: default;
}
.navbar-right li {
    padding: 16px 15px;
}
li.btn.btn-default {
    width: 100%;
    text-align: center;
}
.alerts {
    height: 50px;
}
.alerts h1 {
    padding-top: 15px;
}
/*what's new page checkboxes float left*/
/*.center-me .checkbox{
    float:left;
    width:50%;
      padding-left: 3%;
}*/

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background-color: rgba(226, 226, 226, 1);
}
/*Security Edit Validation for club Group*/

.error.text-center {
    position: absolute;
    top: 27px;
    left: 5px;
}
.center-me {
    position: relative;
}
.validation-bottom-margin {
    margin-bottom: 25px;
}
html {
    overflow-y: scroll;
}
.push-me-mobile {
    display: inline;
}
.navbar-header {
    background-color: white;
}
.navbar-right .btn.active, .navbar-right .btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125), inset 0 -3px 5px rgba(0, 0, 0, .125);
}
.btn-edit {
    color: #D9752B;
}
.btn-delete {
    color: #C62F2F;
}
.btn-edit:hover {
    color: #6F3C16!important;
}
.btn-delete:hover {
    color: #651818;
}
.btn-go {
    color: #449A5A;
}
.btn-go:hover {
    color: #234F2E
}

/*.search-modify-container {
    padding-top: 6%;
}*/

.table thead {
    background-color: #4B72B1;
    color: white;
}
.alerts {
    position: absolute;
    top: 55px;
}
body {
    padding-top: 10%;
}
.search-modify-container {
    margin-top: -50px;
}
.phone-error {
    bottom: -25px;
    left: 20px;
}
.form-control {
    border-radius: 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.dropdown-menu{
    box-shadow:0 6px 12px rgba(0, 0, 0, 0.5);
    border-radius: 0;
}
button.multiselect.dropdown-toggle.btn.btn-default {
  height: 34px;
}