<!DOCTYPE HTML>
<html >
	<head>
		
		<title>Security Administration</title>
		<meta http-equiv="X-UA-Compatible" content="IE=10" />
		<link rel="stylesheet" href="../../assets/css/style.css">
		<link rel="stylesheet" href="../../assets/css/ipad.css">
		
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-route.min.js"></script>
		<script src="components/AppSearch/moduleSearch.js"></script>
		<script src="components/AppSearch/controllerSearch.js"></script>
		<script src="services/serviceSearchClient.js"></script>

	</head>
	
	<body data-ng-app="searchApp" data-ng-controller="controllerSearch" ng-cloak>
	<!-- 
	 <div ng-include src="'../../partials/partial_topMenu.html'"></div>
	 -->
	
		<!-- You cannot do <div data-ng-view /> because it will not work. -->
		<!-- This line right here will place here whatever view is currently in the route path. -->
		<input ng-model="query" type="text"></input>
		<div ng-repeat="result in results">
			{{result.book}} {{result.chapter}}  {{result.verse}}: {{result.text}}
		</div>
		 
		
			
	</body>
</html>