<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        
        <link href="../favicon.ico" rel="icon">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400' rel='stylesheet' type='text/css'>
        <!--         <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/ipad.css">
        <link rel="stylesheet" href="styleguide.css">
        <!-- Jquery Date Picker Theme CSS -->
        <link rel="stylesheet" href="../assets/css/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="../assets/css/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="../assets/css/jquery-ui.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.1/css/theme.bootstrap.min.css">
        <title>MOD Styleguide</title>
    </head>
    <body>
        <!-- NAV Start -->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="../assets/images/brand-top.jpg" alt="">
            <h1>Member Offers Database / </h1>
            <h1>{{viewTitle}}</h1>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
                
                <li>Menu <i class="fa fa-chevron-down"></i>
                    <ul class="btn-group-vertical" role="group" aria-label="...">
                        <a href=""><li type="button" class="btn btn-default">Search / Add New Offers</li></a>
                        <a href=""><li type="button" class="btn btn-default">Reports</li></a>
                        <a href=""><li type="button" class="btn btn-default">What's New</li></a>
                        <a href=""><li type="button" class="btn btn-default">Unmatched Merchants</li></a>
                        <a href=""><li type="button" class="btn btn-default">Block Merchants</li></a>
                        <a href=""><li type="button" class="btn btn-default">User / Training Manual</li></a>
                        <a href=""><li type="button" class="btn btn-default">Mergers / Tables / Refresh</li></a>
                        <a ng-href="../AppSecurity/security.html"><li class="btn btn-default active">Security Administration</li></a>
                        <a href=""><li type="button" class="btn btn-default">Sign Out</li></a>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav float-right">
                <div class="blocks">
                    <li class="info">robert@national.aaa.com for club 999</li>
                    <li class="info">AAA National (National Office Approver)</li>
                </div>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    
</nav>
        <!-- End NAV -->
        <!-- Title -->
        <div class="container">
            <h1 class="bold">MOD rewrite Styleguide</h1>
           <!--  <button type="button" class="btn btn-danger btn-code">Toggle Code</button> -->
            <hr>
        </div>
        <!-- End Title -->
        <!-- Page Container -->
        <div class="container">
            <!--Headings Title-->
            <h1 class="text-center bold">Headings</h1>
            <!--End Headings Title-->
            <!--Headings Row-->
            <div class="row">
                <!--Heading 3_1-->
                <div class="col-xs-3">
                    <h1>Headings</h1>
                    <hr>
                    <h1>Level 1 _ 18px _ 1.125em</h1>
                    <h2>Level 2  _ 16px _ 1em</h2>
                    <h3>Level 3 _ 14px _ 0.875em</h3>
                    <h4>Level 4 _ 13px _ 0.813em</h4>
                    <h5>Level 5 _ 13px _ 0.813em</h5>
                    <h6>Level 6 _ 13px _ 0.813em</h6>
                </div>
                <!--End Heading 3_1-->
                <!--Heading 3_2-->
                <div class="col-xs-3">
                    <h1>Fade <code> .faded </code></h1>
                    <hr>
                    <h1 class="faded">Header Level 1</h1>
                    <h2 class="faded">Header Level 2</h2>
                    <h3 class="faded">Header Level 3</h3>
                    <h4 class="faded">Header Level 4</h4>
                    <h5 class="faded">Header Level 5</h5>
                    <h6 class="faded">Header Level 6</h6>
                </div>
                <!--End Heading 3_2-->
                <!--Heading 3_3-->
                <div class="col-xs-3">
                    <h1>Alternatives <code> .alt </code></h1>
                    <hr>
                    <h1 class="alt">Header Level 1</h1>
                    <h2 class="alt">Header Level 2</h2>
                    <h3 class="alt">Header Level 3</h3>
                    <h4 class="alt">Header Level 4</h4>
                    <h5 class="alt">Header Level 5</h5>
                    <h6 class="alt">Header Level 6</h6>
                </div>
                <!--End Heading 3_3-->
                <!--Heading 3_4-->
                <div class="col-xs-3">
                    <h1>Bold <code> .bold</code></h1>
                    <hr>
                    <h1 class="bold">Header Level 1</h1>
                    <h2 class="bold">Header Level 2</h2>
                    <h3 class="bold">Header Level 3</h3>
                    <h4 class="bold">Header Level 4</h4>
                    <h5 class="bold">Header Level 5</h5>
                    <h6 class="bold">Header Level 6</h6>
                </div>
                <!--End Heading 3_4-->
            </div>
            <!--End Headings Row-->
            <hr>
            <!--Type-Rules Title-->
            <h1 class="text-center bold">Type Rules</h1>
            <!--End Type-Rules Title-->
            <!-- Type Rules Row -->
            <div class="row">
                <div class="col-xs-4 ">
                    <div class="col-xs-6">
                        <p class="right ocd-push-down">Input Values</p>
                        <p class="right ocd-push-down">Supplemental / Help</p>
                        <p class="right ocd-push-down">Copy / Input Labels</p>
                        <p class="right ocd-push-down">Field Values</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="left text-light">13px Light <code> .text-light</code></p>
                        <p class="left text-light text-italic">13px Light Italic <code> .text-italic </code></p>
                        <p class="left">13px Regular</p>
                        <p class="left text-bold">13px Bold <code> .text-bold </code></p>
                    </div>
                </div>
                <div class="col-xs-4 ">
                    <div class="col-xs-4">
                        <p class="left">Normal Text</p>
                        <p class="left">Subtle Text</p>
                        <p class="left">Link Color </p>
                    </div>
                    <div class="col-xs-6">
                        <p class="left text-color">#5c6366  <code> .text-color </code></p>
                        <p class="left text-subtle">#818789 <code>.text-subtle </code></p>
                        <p class="left text-link">#0088ff <code>.text-link</code></p>
                    </div>
                </div>
                <div class="col-xs-4 ">
                    <div class="col-xs-4">
                        <p class="left">Active </p>
                        <p class="left">Draft </p>
                        <p class="left">Expired/Deleted  </p>
                    </div>
                    <div class="col-xs-8">
                        <p class="left text-active">#639340 <code> .text-active </code></p>
                        <p class="left text-draft">#d4942f <code>.text-draft </code></p>
                        <p class="left text-deleted">#bf3030 <code>.text-deleted <br></code><code class="ocd-alignment">.text-expired</code></p>
                    </div>
                </div>
            </div>
            <!-- End Type Rules Row -->
            <hr>
            <!--Colors Title-->
            <h1 class="text-center bold">Colors</h1>
            <!--End Colors Title-->
            <!-- Colors Row -->
            <div class="row">
                <div class="col-xs-3 col-xs-offset-1">
                    <p class="text-center">Global</p>
                </div>
                <div class="col-xs-3 col-xs-offset-2">
                    <p class="text-center">Background / Border</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                    <!-- Global Colors -->
                    <div class=" col-xs-2 text-center">
                        <div class="cube primary"></div>
                        <p><code>.primary</code></p>
                        <p class="faded">#263A5B</p>
                    </div>
                    <div class="col-xs-2 text-center">
                        <div class="cube secondary"></div>
                        <p><code>.secondary</code></p>
                        <p class="faded">#d9dbdc</p>
                    </div>
                    <!-- End Global Colors -->
                    <!-- Background / Border Colors -->
                    <div class="col-xs-2 col-xs-offset-1 text-center">
                        <div class="cube bg-light"></div>
                        <p><code>.bg-light</code></p>
                        <p class="faded">#f2f4f5</p>
                    </div>
                    <div class=" col-xs-2  text-center">
                        <div class="cube bg-dark"></div>
                        <p><code>.bg-dark</code></p>
                        <p class="faded">#8d9295</p>
                    </div>
                    <div class=" col-xs-2 text-center">
                        <div class="cube border-light "></div>
                        <p><code> .border-light </code></p>
                        <p class="faded">#bfbfbf</p>
                    </div>
                    <!-- End Background / Border Colors -->
                </div>
            </div>
            <!-- End Colors Row -->
            <hr>
            <!--Buttons Title-->
            <h1 class="text-center bold">Buttons</h1>
            <!--End Buttons Title-->
            <!-- Buttons Row -->
            <div class="row">
                <div class="col-xs-3 blocks">
                    <button type="button" class="btn btn-custom-secondary btn-lg">Static</button>
                    <button type="button" class="btn btn-custom-secondary btn-lg secondary-hovered">Hover</button>
                    <button type="button"  class="btn btn-custom-secondary btn-lg secondary-active btn-active">Active</button>
                    <button type="button"disabled class="btn btn-custom-secondary btn-lg">Disabled</button>
                </div>
                <div class="col-xs-3 blocks">
                    <button type="button" class="btn btn-custom-primary btn-lg">Static</button>
                    <button type="button" class="btn btn-custom-primary btn-lg primary-hovered">Hover</button>
                    <button type="button" class="btn btn-custom-primary btn-lg primary-active btn-active">Active</button>
                    <button type="button" disabled class="btn btn-custom-primary btn-lg">Disabled</button>
                </div>
                <div class="col-xs-3 blocks">
                    <button type="button" class="btn btn-danger btn-lg">Static</button>
                    <button type="button" class="btn btn-danger danger-hover btn-lg">Hover</button>
                    <button type="button" class="btn btn-danger danger-active btn-lg btn-active">Active</button>
                    <button type="button" disabled class="btn btn-danger btn-lg">Disabled</button>
                </div>
                 <div class="col-xs-3 blocks">
                    <button type="button" class="btn btn-warning btn-lg">Static</button>
                    <button type="button" class="btn btn-warning warning-hover btn-lg">Hover</button>
                    <button type="button" class="btn btn-warning warning-active btn-lg btn-active">Active</button>
                    <button type="button" disabled class="btn btn-warning btn-lg">Disabled</button>
                </div>
                <div class="col-xs-12  blocks">
                    <button type="button" class="btn btn-link btn-lg">Static</button>
                    <button type="button" class="btn btn-link btn-lg btn-link-hovered">Hover</button>
                    <button type="button"  disabled="disabled"  class="btn btn-link btn-lg">Disabled</button>
                </div>
            </div>
            <hr>
            <h1 class="text-center bold">Misc Buttons</h1>
            <div class="row blocks">
                <button type="button" class="btn btn-custom-secondary btn-lg">
                <i class="fa fa-times"></i> Automotive - Tag, Title, License
                </button>
                 <button type="button" class="btn btn-custom-secondary btn-md">
                <i class="fa fa-times"></i> Automotive - Tag, Title, License
                </button>
                 <button type="button" class="btn btn-custom-secondary btn-sm">
                <i class="fa fa-times"></i> Automotive - Tag, Title, License
                </button>
               
            </div>
            <!-- End Buttons Row -->
            <hr>
            <!--Messages Title-->
            <h1 class="text-center bold">Messages</h1>
            <!--End Messages Title-->
            <!-- Messages Row -->
            <div class="row text-center">
                <div class="col-xs-6">
                    <div class="alert alert-success" role="alert"><i class="fa fa-check-circle"></i> Well done! This is a success message!</div>
                </div>
                <div class="col-xs-6">
                    <div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle"></i> Warning! This is a warning message!</div>
                </div>
                <div class="col-xs-6">
                    <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i> Oh Snap! This is an error message!</div>
                </div>
                <div class="col-xs-6">
                    <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> Heads up! This is a generic message!</div>
                </div>
            </div>
            <!-- End Messages Row -->
            <hr>
            <!--Inputs Title-->
            <h1 class="text-center bold">Inputs</h1>
            <!--End Inputs Title-->
            <!-- Inputs Row 1 -->
            <div class="row ">
                <div class="col-xs-4">
                    <div class="form-group">
                        <p>Normal</p>
                        <input type="text" class="form-control" placeholder="Merchant Name">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <p>Focused</p>
                        <input type="text" class="form-control"  id="focusedInput"placeholder="Merchant Name">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group has-error">
                        <p>Error</p>
                        <input type="text" class="form-control" placeholder="Merchant Name" id="inputError1">
                    </div>
                </div>
            </div>
            <!--End Inputs Row 1 -->
            <!--End Inputs Row 2 -->
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <p>Disabled</p>
                        <input class="form-control" type="text" placeholder="Can't Touch This" disabled>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group phone-number">
                        <p>Cell Phone</p>
                        <div class="col-xs-3">
                            <input type="tel" name="phone" class="form-control" placeholder="(123)" size="3" maxlength="3" required="required" title="">
                        </div>
                        
                        <div class="col-xs-3">
                            <input type="tel" name="phone" class="form-control" placeholder="123" size="3" maxlength="3" required="required" title="">
                        </div>
                        
                        <div class="col-xs-4">
                            <input type="tel" name="phone" class="form-control" placeholder="1234" size="4" maxlength="4" required="required" title="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <p>Dropdown</p>
                        <select class="form-control">
                            <option value="" disabled selected>All Clubs</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--End Inputs Row 2 -->
            <!-- Inputs Row 3 -->
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <fieldset disabled>
                            <p>Dropdown  - Disabled</p>
                            <select class="form-control">
                                <option value="" disabled selected>Can't Touch This</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <p>With Button</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Placeholder">
                            <span class="input-group-btn">
                                <button class="btn btn-custom-secondary" type="button">Remove Source Link</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <p>Datepicker</p>
                        <div class="relative"> <i class="fa fa-calendar calendar-position absolute ghost"></i> <input class="form-control" type="text" id="datepicker"></div>
                    </div>
                </div>
            </div>
            <!-- End Inputs Row 3 -->
            <!-- End Inputs Row 3 -->
            <div class="row">
                <div class="col-xs-12">
                    
                    <div class="form-group">
                        <p class="inline-me">Description of Merchant:</p>
                        <p class="inline-me text-area">X of X characters remaining</p>
                        <textarea class="form-control req" placeholder="This is a required text field" rows="3"></textarea>
                    </div>
                </div>
                 <div class="col-xs-12">
                    
                    <div class="form-group">
                        <p class="inline-me">Description of Merchant:</p>
                        <p class="inline-me text-area">X of X characters remaining</p>
                        <textarea class="form-control rec" placeholder="This is a recommended text field" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-xs-offset-3">
                    <h2 class="bold">Availability</h2>
                    <div class="radio">
                        <label>
                            <input type="radio" value="" name="optionsRadios" checked>
                            Option one is Checked
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="" name="optionsRadios">
                            Option two is not Checked
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" value=""  name="optionsRadios" disabled>
                            Option three is disabled
                        </label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <h2 class="bold">Availability</h2>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked>
                            Option one
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Option two
                        </label>
                    </div>
                    <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" value="" disabled>
                            Option three is disabled
                        </label>
                    </div>
                </div>
            </div>
            <!-- End Inputs Row 4 -->
            <hr>
             <div class="container text-center">
            <h1 class="bold">MOD rewrite UI Toolkit</h1>
          
           
        </div>
        <hr>
            <!--Tabs Title-->
            <h1 class="text-center bold">Tabs</h1>
            <!--End Tabs Title-->
            <!-- Tabs Row -->
            <div class="row">
                <div class="col-xs-12">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">MOD - X Results</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Source Data - X Results</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                            <div role="tabpanel" class="tab-pane fade" id="profile">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tabs Row -->
            <hr>
            <!--Progress Title-->
            <h1 class="text-center bold">Progress</h1>
            <!--End Progress Title-->
            <!-- Progress Row -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <ul class="container-white container-progress">
                        <li class="progress-item is-done">
                            <a href="#">Headquarter Info
                                <i class="fa fa-check-circle-o fa-2x"></i>
                            </a>
                        </li>
                        <li class="progress-item  is-done">
                            <a href="#">Location Info
                                <i class="fa fa-check-circle-o fa-2x"></i>
                            </a>
                        </li>
                        <li class="progress-item is-active">
                            <a href="#">Offer Details
                                
                            </a>
                        </li>
                        <!-- Remember to remove href from disabled -->
                        <li class="progress-item is-disabled">
                            <a>Summary</a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <!-- End Progress Row -->
            <hr>
            <!--Pagination Title-->
            <h1 class="text-center bold">Pagination</h1>
            <!--End Pagination Title-->
            <!-- Pagination Row -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <nav>
                        <ul class="pagination pagination-large">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li> <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&rsaquo;</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a></li>
                            </ul>
                        </nav>
                        
                    </div>
                    <nav>
                        <ul class="pager">
                            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                            <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="pager">
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
                <hr>
                <!--Modal Title-->
                <h1 class="text-center bold">Modal</h1>
                <!--End Modal Title-->
                <!-- Modal Row -->
                <div class="row text-center">
                    <!-- Large modal -->
                    <button type="button" class="btn btn-custom-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    Nothing to see here...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-custom-primary">Save changes</button>
                                </div>                    </div>
                            </div>
                        </div>
                        <!-- Small modal -->
                        <button type="button" class="btn btn-custom-primary " data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        Nothing to see here...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-custom-primary">Save changes</button>
                                    </div>                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal Row -->
                        <hr>
                        <!--Boxes Title-->
                        <h1 class="text-center bold">Boxes</h1>
                        <!--End Boxes Title-->
                        <!-- Boxes Row -->
                        <div class="row">
                            <div class="container">
                                <h3 class="text-center bold">Merchant Box</h3>
                            </div>
                            <div class="col-xs-12">
                                <div class="box box-merch">
                                    <div class="box-image">
                                        <img src="../assets/images/brand.gif" alt="">
                                    </div>
                                    <div class="box-location-info">
                                        <h2 class="bold">Location / Merchant Name</h2>
                                        <p>6555 N State Hwy</p>
                                        <p>Irving, Tx 12345 USA</p>
                                        <p>(123) 123-1234</p>
                                    </div>
                                    <div class="box-contact-info">
                                        <h2 class="bold">Contact Info</h2>
                                        <p>Robert Khayat</p>
                                        <p>robert@national.aaa.com</p>
                                        <p>(123) 123-1234</p>
                                    </div>
                                    <div class="box-merch-controls">
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-eye btn-go fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <h3 class="text-center bold">Location Box</h3>
                            </div>
                            <div class="col-xs-12">
                                <div class="box box-merch">
                                    <div class="box-image">
                                        <img src="../assets/images/brand.gif" alt="">
                                    </div>
                                    <div class="box-location-info">
                                        <h2 class="bold">Location / Merchant Name <span class="text-draft">(DRAFT)</span></h2>
                                        <p>6555 N State Hwy</p>
                                        <p>Irving, Tx 12345 USA</p>
                                        <p>(123) 123-1234</p>
                                    </div>
                                    <div class="box-contact-info">
                                        <h2 class="bold">Geocode Info</h2>
                                        <p>Lat:12.12345678</p>
                                        <p>Long:-12.1234567</p>
                                        <h1>Geocode:<span class="text-draft bold">OVERRIDDEN</span></h1>
                                    </div>
                                   <div class="box-merch-controls">
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-eye btn-go fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box box-merch">
                                    <div class="box-image">
                                        <img src="../assets/images/brand.gif" alt="">
                                    </div>
                                    <div class="box-location-info">
                                        <h2 class="bold">Location / Merchant Name</h2>
                                        <p>6555 N State Hwy</p>
                                        <p>Irving, Tx 12345 USA</p>
                                        <p>(123) 123-1234</p>
                                    </div>
                                    <div class="box-contact-info">
                                        <h2 class="bold">Geocode Info</h2>
                                        <p>Lat:12.12345678</p>
                                        <p>Long:-12.1234567</p>
                                        <h1>Geocode:<span class="text-active bold">SUCCESS</span></h1>
                                    </div>
                                    <div class="box-merch-controls">
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-eye-slash btn-go fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <h3 class="text-center bold">Offer Box No Image</h3>
                            </div>
                            <div class="col-xs-12">
                                <div class="box box-offer">
                                    <div class="box-image">
                                        <img src="../assets/images/150x150.gif">
                                    </div>
                                    <div class="box-offer-description">
                                        <h2 class="bold">Description</h2>
                                        <p>Save a minimum of 10% off all parts and labor up to a maximum discount of $50.00</p>
                                        <h2 class="bold">Availability</h2>
                                        <p>Valid from Jan. 18, 2014 to Jan. 18, 2016</p>
                                        <a href="">Click here to see full offer restriction</a>
                                    </div>
                                    <div class="box-offer-type">
                                        <h2 class="bold">Offer Type</h2>
                                        <p>Discount Percentage Saved</p>
                                        <h2 class="bold">Offer Amount</h2>
                                        <h1 class="text-active bold">10%</h1>
                                        <div class="box-controls"><button type="button" class="btn btn-link btn-edit btn-md">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <h3 class="text-center bold">Offer Box with Icon / Image</h3>
                            </div>
                            <div class="col-xs-12">
                                <div class="box box-offer">
                                    <div class="box-image">
                                        <img src="../assets/images/brand.gif" alt="">
                                    </div>
                                    <div class="box-offer-description">
                                        <h2 class="bold">Description</h2>
                                        <p>Save a minimum of 10% off all parts and labor up to a maximum discount of $50.00</p>
                                        <h2 class="bold">Availability</h2>
                                        <p>Valid from Jan. 18, 2014 to Jan. 18, 2016</p>
                                        <a href="">Click here to see full offer restriction</a>
                                    </div>
                                    <div class="box-offer-type">
                                        <h2 class="bold">Offer Type</h2>
                                        <p>Discount Percentage Saved</p>
                                        <h2 class="bold">Offer Amount</h2>
                                        <h1 class="text-active bold">10%</h1>
                                        <div class="box-controls"><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Misc Row -->
                        <hr>
                        <!--Table Title-->
                        <h1 class="text-center bold">Table</h1>
                        <!--End Table Title-->
                        <!-- Table Row -->
                        <div class="row">
                            <table class="table table-hover tablesorder text-center">
                                <thead>
                                    <tr>
                                        <th>Modified</th>
                                        <th>Club</th>
                                        <th>Status</th>
                                        <th>Partner ID</th>
                                        <th>Merchant Name</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 <tr>
                                        <td>11/22/33</td>
                                        <td>123</td>
                                        <th class="text-draft">DRAFT</th>
                                        <td>12345</td>
                                        <td>Crabtree</td>
                                        <td>Orlando</td>
                                        <td>FL</td>
                                        <td>11/22/33</td>
                                        <td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button></td>
                                        
                                    </tr>
                                    <tr class="active">
                                        <td>11/22/33</td>
                                        <td>123</td>
                                        <th class="text-draft">DRAFT</th>
                                        <td>12345</td>
                                        <td>Crabtree</td>
                                        <td>Orlando</td>
                                        <td>FL</td>
                                        <td>11/22/33</td>
                                       <td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button></td>
                                        
                                    </tr>
                                    <tr class="success">
                                        <td>11/22/33</td>
                                        <td>123</td>
                                        <th class="text-draft">DRAFT</th>
                                        <td>12345</td>
                                        <td>Crabtree</td>
                                        <td>Orlando</td>
                                        <td>FL</td>
                                        <td>11/22/33</td>
                                      <td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button></td>
                                        
                                    </tr>
                                    <tr class="warning">
                                        <td>11/22/33</td>
                                        <td>123</td>
                                        <th class="text-draft">DRAFT</th>
                                        <td>12345</td>
                                        <td>Crabtree</td>
                                        <td>Orlando</td>
                                        <td>FL</td>
                                        <td>11/22/33</td>
                                       <td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button></td>
                                        
                                    </tr>
                                    <tr class="danger">
                                        <td>11/22/33</td>
                                        <td>123</td>
                                        <th class="text-active">ACTIVE</th>
                                        <td>12345</td>
                                        <td>Crabtree</td>
                                        <td>Orlando</td>
                                        <td>FL</td>
                                        <td>11/22/33</td>
                                      <td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button></td>
                                        
                                    </tr>
                                    <tr class="info">
                                        <td>11/22/33</td>
                                        <td>123</td>
                                        <th class="text-deleted">DELETED</th>
                                        <td>12345</td>
                                        <td>Crabtree</td>
                                        <td>Orlando</td>
                                        <td>FL</td>
                                        <td>11/22/33</td>
                                        <td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button></td>
                                        
                                    </tr>

                                    
                                     <tr>
                                        <td class="active">11/22/33</td>
                                        <td class="success">123</td>
                                        <th class="text-deleted warning">DELETED</th>
                                        <td class="warning">12345</td>
                                        <td class="danger">Crabtree</td>
                                        <td class="info">Orlando</td>
                                        <td>FL</td>
                                        <td>11/22/33</td>
                                     <td><button type="button" class="btn btn-link btn-md"><i class="fa fa-pencil btn-edit fa-2x"></i></button>
                                        <button type="button" class="btn btn-link btn-md"><i class="fa fa-times btn-delete fa-2x"></i></button></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <h1 class="text-center bold">Logo Upload</h1>
                        <!-- End Table Row -->
                        <!-- Logo Upload Row -->
                        <div class="row">
                            <div class="col-xs-6">
                                
                                <div class="col-xs-4">
                                    <div class="thumbnail">
                                        <img src="../assets/images/150x150.gif">
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <p>Image Requirements:</p>
                                    <ul>
                                        <li>File Format - .jpg / .png / .gif</li>
                                        <li>DPI - At least 72</li>
                                        <li>Size - 150 x 150 pixels</li>
                                        <li>Max Size - 1MB</li>
                                    </ul>
                                   <input type="file">
                                </div>
                                
                            </div>
                            <div class="col-xs-6">
                                
                                
                                
                                <div class="col-xs-4">
                                    <div class="thumbnail">
                                        <img src="../assets/images/brand.gif" alt="">
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <p>AAA_Brand.gif</p>
                                    
                                    <input type="file">
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Logo Upload Row -->
                        <hr>
                          <div class="container text-center">
            <h1 class="bold big">In-progress</h1>
          
           
        </div>
        <hr>
                        <!-- Tab for catagories -->
                        <div class="row">
                            <div class="col-xs-12">
                                
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="active"><a href="#1" data-toggle="tab">Automotive</a></li>
                                    <li role="presentation"><a href="#2" data-toggle="tab">Entertainment</a></li>
                                    <li role="presentation"><a href="#3"  data-toggle="tab">Finance</a></li>
                                    <li role="presentation"><a href="#4" data-toggle="tab">Home &amp; Business</a></li>
                                    <li role="presentation"><a href="#5"  data-toggle="tab">Insurance</a></li>
                                    <li role="presentation"><a href="#6" data-toggle="tab">Personal Services</a></li>
                                    <li role="presentation"><a href="#7"  data-toggle="tab">Restaurants</a></li>
                                    <li role="presentation"><a href="#8" data-toggle="tab">Shopping</a></li>
                                    <li role="presentation"><a href="#9"  data-toggle="tab">Travel</a></li>
                                    
                                </ul>
                                <!-- Tab content -->
                                <div class="tab-content categories">
                                    <div class="col-xs-8 col-xs-offset-2">
                                        
                                  
                                    <div role="tabpanel" class="tab-pane fade in active" id="1">
                                        <!-- Collapse Row -->
                                        
                                        
                                        
                                        <div class="checkbox inline-me">
                                            <label>
                                                <input type="checkbox" value="">
                                                All Automotive
                                            </label>
                                            <i data-toggle="collapse" href="#collapse1" class="fa fa-chevron-up" aria-expanded="true">
                                            
                                            </i>
                                        </div>
                                        
                                    
                                        <div class="text-center">
                                            
                                            <div class="collapse in" id="collapse1" aria-expanded="true">
                                                
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="">
                                                                Option two
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="">
                                                                Option two
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="">
                                                                Option two
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="">
                                                                Option two
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="">
                                                                Option two
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="">
                                                                Option two
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                                                    
                                        <!-- End first collapse -->
                                        
                                        
                                        <!-- End Collapse Row -->
                                    </div>
                                    <!-- End First Panel -->
                                     </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <hr>
                    </div>
                    <!-- End Page Container -->
                    
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
                    
                    <!-- misc scripts -->
                    
                    <script src="../assets/js/datepicker.js"></script>
                    <script src="../assets/js/collapse.js"></script>
                    
                    <script src="../assets/js/styleguide.js"></script>
                </body>
            </html>