
/**************************
Extra - Styleguide only
**************************/
.right{
	text-align: right;
}
.left{
	text-align: left;
}



.cube{
	height: 100px;
	width:100px;
	margin:0 0 0 0;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}
.primary, .secondary{
	-webkit-print-color-adjust: exact;
}
/*Exact is there for chrome save to pdf*/		
button{
    outline:none!important;
}
/*Chrome's default outline*/

.blocks button{
	margin: 10px auto;
	display: block;

}
.btn-active{
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125), inset 0 -3px 5px rgba(0, 0, 0, .125);
}
.primary-active{

	background-color:  #234F2E!important;
}
.danger-hover{
	  background-color: #c9302c;
  border-color: #ac2925;
}
.danger-active{
	  color: #fff;
  background-color: #AB2623;
  border-color: #AB2623;
}
.warning-hover{
background-color: #ec971f;
border-color: #ec971f;

}
.warning-active{
background-color: #d58512;
border-color: #d58512;

}
.primary-active, .secondary-active{

	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.225);
box-shadow: inset 0 3px 5px rgba(0,0,0,.225);
}


.secondary-hovered{
background-color:#8d9295;
color:white;
}

.btn-link-hovered{
	color: #23527c;
text-decoration: underline;
background-color: transparent;
}
.ocd-alignment{
	margin-left: 4.4em;
}
.ocd-push-down{
	margin-bottom:24px;
}
.inputs p{
	text-align: left!important;
}

#focusedInput {
border-color: #ccc;
border-color: rgba(82,168,236,.8);
outline: 0;
-webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
box-shadow: 0 0 8px rgba(82,168,236,.6);
}
.space{
	padding-bottom:10px;
}
.thumbnail img{
	height:150px;
	width:150px;
}

/**************************
Extra - Styleguide only
**************************/


.modal-open[style] {
padding-right: 0px !important;
}