.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px 3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}



/*Mine*/

	body{
				padding:20px;
				
			}
			.table>thead>tr>th{
				border-bottom: none;
			}
			.width-50{
				width: 50%;
			}
		
		/*table{
		width: auto!important;
		}*/
		tr td:last-child{
		/*width:1%;*/
		white-space:nowrap;
		}
		table{
		margin-bottom: 0px!important;
		}
		th{
		border-left: 1px solid rgba(255, 255, 255, 0.27);
		border-right: 1px solid rgba(255, 255, 255, 0.27);
		}
		thead th:first-child{
		border-left: none;
		}
		thead th:last-child{
		border-right: none;
		}
		.roles-col-1{
		width: 44%;
		}
		.roles-col-2{
 		width: 44%;
		}
		.roles-col-3{
		width: 12%;
		}
		.btn-group .btn:hover, .btn-group .btn:focus{
		background-color:rgb(236, 236, 236);
		color: black;
		}
		.border-bottom{
		  box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.65);
  border-bottom: thick solid #406197;

		}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
			border-top:none;
		}
		tr{
			border-bottom:1px solid rgba(236, 236, 236, 0.24)
		}
	