

<html ng-app="testingApp">

	<head>
		<script src="../../assets/js/angular.min.js"></script>
		<script src = "moduleTesting.js"></script>
		<script src="controllerTesting.js"></script>
		<script src="../../shared/AppServices/serviceModClient.js"></script>
				
	</head>
	<body ng-controller="testingController">
		

		 <div>
			<ul ng-repeat="club in clubs | orderBy:clubName">
				<li>{{club.clubName}}</li>
			</ul>
		</div>
 -->
		<div>
			<!-- Example of how to use the securitySearchController in directives to get all the coordinators
			We won't need to use this.  We will actually filter the coordinators using a child controller.  -->
		
			<table>
				<thead>
				<th><td>First Name</td><td>Last Name</td><td>Clubs</td><td>Email address</td></th>
				</thead>
				<tbody ng-repeat="coordinator in coordinators">
					<tr><td>{{coordinator.firstName}}</td><td>{{coordinator.lastName}}</td><td>{{coordinator.clubs}}</td><td>{{coordinator.emailAddress}}</td></tr>
				</tbody>
			</table> 
		</div>

		<h2>Coordinator</h2>
		<div>{{coordinator}}</div>
		<h2>Club</h2>
		<div>{{club}}</div>



		
	</body>

</html>